Repository buildpacks/pack, pull requests merged in 2020-07, with the labels that each got.

#723 Change untrusted warning
  internal/commands/build.go
Labels: type/enhancement

#725 Explicitly deal with untrusting suggested builder
  internal/commands/commands.go
  internal/commands/suggest_builders.go
  internal/commands/untrust_builder.go
  internal/commands/untrust_builder_test.go
Labels: type/bug

#724 Update default lifecycle to 0.8.0
  acceptance/testdata/pack_fixtures/report_output.txt
  build.go
  build_test.go
  internal/builder/lifecycle.go
Labels: type/enhancement

#718 Add Chocolatey delivery Github Action
  .github/workflows/delivery-chocolatey.yml
  .github/workflows/delivery/chocolatey/pack.nuspec
  .github/workflows/delivery/chocolatey/tools/VERIFICATION.txt
  README.md
Labels: roadmap/user-onboarding, type/chore

#733 Changelog updates
  .github/workflows/build/changelog.js
Labels: type/chore

#716 Register buildpack
  cmd/cmd.go
  internal/commands/commands.go
  internal/commands/register_buildpack.go
  internal/commands/register_buildpack_test.go
  internal/commands/testmocks/mock_pack_client.go
  internal/config/config.go
  internal/config/config_test.go
  internal/registry/github.go
  internal/registry/github_test.go
  internal/registry/registry_cache.go
  register_buildpack.go
  register_buildpack_test.go
Labels: experimental, status/user-accepted, type/enhancement

#731 Use isTrustedBuilder func in inspect_builder
  internal/commands/inspect_builder.go
  internal/commands/list_trusted_builders_test.go
  internal/commands/set_default_builder_test.go
  internal/commands/suggest_builders_test.go
  internal/commands/suggest_stacks_test.go
  internal/commands/version_test.go
Labels: type/chore

#741 Add tests for CreateBuilder
  create_builder.go
  create_builder_test.go
Labels: type/chore

#762 Remove deprecated flags
  acceptance/acceptance_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
Labels: breaking-change, type/enhancement

#763 460 remove symlink
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/set_run_image_mirrors_test.go
Labels: breaking-change, type/enhancement
