Repository buildpacks/pack, pull requests merged in 2020-08, with the labels that each got.

#778 Add support for arbitrary writable volume mounts during `pack build`
  acceptance/acceptance_test.go
  acceptance/assertions/test_buildpack_output.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_buildpacks/0.2/read-volume-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/0.2/read-volume-buildpack/bin/detect
  acceptance/testdata/mock_buildpacks/0.2/read-volume-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/0.2/read-write-volume-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/0.2/read-write-volume-buildpack/bin/detect
  acceptance/testdata/mock_buildpacks/0.2/read-write-volume-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/0.2/volume-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/0.2/volume-buildpack/bin/detect
  build.go
  build_test.go
  internal/commands/build.go
  yank_buildpack_test.go
Labels: breaking-change

#790 Update default Lifecycle version to 0.9.0
  acceptance/config/asset_manager.go
  acceptance/testdata/pack_fixtures/report_output.txt
  build_test.go
  create_builder.go
  create_builder_test.go
  internal/builder/lifecycle.go
Labels: type/enhancement

#773 Add pull-policy flag to build/create-builder/package-buildpack/rebase commands
  acceptance/acceptance_test.go
  build.go
  build_test.go
  client.go
  config/pull_policy.go
  config/pull_policy_test.go
  create_builder.go
  create_builder_test.go
  inspect_builder.go
  inspect_builder_test.go
  inspect_image.go
  inspect_image_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  internal/fakes/fake_image_fetcher.go
  internal/image/fetcher.go
  internal/image/fetcher_test.go
  pack.go
  package_buildpack.go
  package_buildpack_test.go
  rebase.go
  rebase_test.go
  register_buildpack.go
  testmocks/mock_image_fetcher.go
Labels: type/enhancement

#781 Reference paketo stacks in suggest-stacks
  internal/commands/suggest_stacks.go
  internal/commands/suggest_stacks_test.go
Labels: type/enhancement

#777 Update "suggest-builders" to use dockerhub paketo builders.
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  internal/commands/inspect_builder_test.go
  internal/commands/list_trusted_builders_test.go
  internal/commands/suggest_builders.go
  internal/commands/trust_builder_test.go
  internal/commands/untrust_builder_test.go
Labels: type/enhancement

#791 Sanitize pack report
  acceptance/acceptance_test.go
  internal/commands/report.go
  internal/commands/report_test.go
Labels: type/enhancement

#739 Support Windows-based images for `build`
  .github/workflows/build.yml
  Makefile
  acceptance/acceptance_test.go
  acceptance/testdata/mock_app/run
  acceptance/testdata/mock_app/run.bat
  acceptance/testdata/mock_buildpacks/0.2/descriptor-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/descriptor-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/internet-capable-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/internet-capable-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/noop-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/noop-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/not-in-builder-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/not-in-builder-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/read-env-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/read-env-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/read-volume-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/read-volume-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/read-write-volume-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/read-write-volume-buildpack/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack/bin/detect.bat
  acceptance/testdata/mock_stack/windows/run/Dockerfile
  acceptance/testdata/mock_stack/windows/run/server.go
  acceptance/testdata/pack_fixtures/builder-windows.toml
  acceptance/testdata/pack_fixtures/inspect_image_local_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_published_output.txt
  build.go
  build_test.go
  client.go
  go.mod
  go.sum
  internal/archive/archive.go
  internal/build/build.go
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/fakes/fake_builder.go
  internal/build/phase.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_test.go
  internal/build/phases.go
  internal/cache/volume_cache.go
  internal/cache/volume_cache_test.go
  internal/paths/paths.go
  internal/paths/paths_test.go
  testhelpers/registry.go
  testhelpers/testhelpers.go
  testmocks/mock_docker_client.go
Labels: type/enhancement

#797 Sets `CNB_PLATFORM_API` env var on lifecycle containers
  acceptance/acceptance_test.go
  build.go
  build_test.go
  client.go
  internal/build/build.go
  internal/build/fakes/fake_builder.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_factory.go
  internal/build/phase_test.go
  internal/build/phases.go
Labels: type/enhancement

#796 Use CNB_PLATFORM_API to adjust what default process to show
  inspect_image.go
  inspect_image_test.go
Labels: type/enhancement

#803 Add default process=web to acceptance tests
  acceptance/acceptance_test.go
Labels: type/chore

#804 Fix unrunnable Windows app images due to incomplete PATH env var
  acceptance/testdata/mock_stack/windows/run/Dockerfile
Labels: type/chore

#806 Sets the default process to web
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/report_output.txt
  build_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/builder/lifecycle.go
  internal/commands/build.go
Labels: type/enhancement

#808 CI: Add Windows chocolatey install, fix Linux Command
  .github/workflows/build.yml
Labels: type/chore

#811 Revert "Remove `/lifecycle` symlink created on builders"
  internal/builder/builder.go
  internal/builder/builder_test.go
Labels: type/bug

#819 Polish #782
  acceptance/acceptance_test.go
  internal/registry/buildpack.go
  internal/registry/git.go
  internal/registry/git_test.go
  internal/registry/index.go
  internal/registry/index_test.go
  internal/registry/registry_cache.go
  internal/registry/registry_cache_test.go
  register_buildpack.go
  register_buildpack_test.go
  testdata/registry/3/fo/example_foo
Labels: type/chore

#815 Add supported platform APIs to `pack report` (#810)
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/commands/report.go
Labels: type/enhancement
