Repository buildpacks/pack, pull requests merged in 2020-01, with the labels that each got.

#451 remove command run from client program
  acceptance/acceptance_test.go
  cmd/pack/main.go
  internal/app/image.go
  internal/app/run.go
  internal/app/run_test.go
  internal/commands/run.go
  run.go
Labels: breaking-change

#463 fix: add test for project.licenses
  internal/project/project.go
  internal/project/project_test.go
Labels: roadmap/project-descriptor

#473 Bump default lifecycle version
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/builder/lifecycle.go
Labels: status/accepted

#479 export uses cache with --publish
  internal/build/phases.go
Labels: accepted

#478 Be better at recognising a terminal
  go.mod
  go.sum
  internal/image/fetcher.go
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/LICENSE
  vendor/golang.org/x/crypto/PATENTS
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/crypto/ssh/terminal/util.go
  vendor/golang.org/x/crypto/ssh/terminal/util_aix.go
  vendor/golang.org/x/crypto/ssh/terminal/util_bsd.go
  vendor/golang.org/x/crypto/ssh/terminal/util_linux.go
  vendor/golang.org/x/crypto/ssh/terminal/util_plan9.go
  vendor/golang.org/x/crypto/ssh/terminal/util_solaris.go
  vendor/golang.org/x/crypto/ssh/terminal/util_windows.go
  vendor/modules.txt
Labels: accepted
