Repository buildpacks/pack, pull requests merged in 2020-11, with the labels that each got.

#932 Use a default package config for a buildpackage
  buildpackage/config_reader.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
Labels: type/enhancement

#927 Update github actions
  .github/workflows/actions/pack/.gitignore
  .github/workflows/actions/pack/Dockerfile
  .github/workflows/actions/pack/LICENSE
  .github/workflows/actions/pack/README.md
  .github/workflows/actions/pack/action.yml
  .github/workflows/actions/pack/entrypoint.sh
  .github/workflows/build.yml
  .github/workflows/delivery-chocolatey.yml
  .github/workflows/delivery-docker.yml
Labels: type/chore

#938 Allow single buildpack in multiple groups
  internal/builder/builder.go
  internal/builder/builder_test.go
Labels: type/bug

#948 Fix docker delivery action
  .github/workflows/delivery-docker.yml
Labels: type/bug, type/chore

#951 Add version info when building pack-cli ppa
  .github/workflows/delivery/ubuntu/debian/rules
Labels: type/chore

#956 `image` key in `builder.toml` is now statically detected as package
  create_builder.go
  create_builder_test.go
Labels: type/bug

#960 Bump docker dependency to v20.10.0-beta
  acceptance/acceptance_test.go
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/phase.go
  testhelpers/registry.go
  testmocks/mock_docker_client.go
Labels: type/chore

#969 Improve locator type detection
  internal/buildpack/locator_type.go
  internal/buildpack/locator_type_test.go
Labels: type/bug
