Repository buildpacks/pack, pull requests merged in 2020-12, with the labels that each got.

#942 Add support for fish shell completion
  cmd/cmd.go
  internal/commands/completion.go
  internal/commands/completion_test.go
  testhelpers/assert_file.go
Labels: type/enhancement

#953 Format inspect-builder json output before printing
  internal/builder/writer/json.go
Labels: type/enhancement

#935 Add pull-buildpack command
  cmd/cmd.go
  internal/commands/commands.go
  internal/commands/pull_buildpack.go
  internal/commands/pull_buildpack_test.go
  internal/commands/testmocks/mock_pack_client.go
  pull_buildpack.go
  pull_buildpack_test.go
Labels: type/enhancement

#959 Add config trusted-builders subcommands
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  acceptance/invoke/pack.go
  cmd/cmd.go
  internal/commands/commands.go
  internal/commands/config.go
  internal/commands/config_test.go
  internal/commands/config_trusted_builder.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/list_trusted_builders.go
  internal/commands/list_trusted_builders_test.go
  internal/commands/stack.go
  internal/commands/stack_suggest.go
  internal/commands/stack_suggest_test.go
  internal/commands/suggest_stacks.go
  internal/commands/suggest_stacks_test.go
  internal/commands/trust_builder.go
  internal/commands/trust_builder_test.go
  internal/commands/untrust_builder.go
  internal/commands/untrust_builder_test.go
Labels: status/user-accepted, type/enhancement

#957 Add output flag to `pack inspect-image`
  acceptance/acceptance_test.go
  acceptance/invoke/pack_fixtures.go
  acceptance/testdata/pack_fixtures/inspect_image_local_output.json
  acceptance/testdata/pack_fixtures/inspect_image_local_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_local_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_local_output.yaml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.json
  acceptance/testdata/pack_fixtures/inspect_image_published_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_published_output.yaml
  cmd/cmd.go
  internal/commands/fakes/fake_inspect_image_writer.go
  internal/commands/fakes/fake_inspect_image_writer_factory.go
  internal/commands/inspect_image.go
  internal/commands/inspect_image_test.go
  internal/commands/testmocks/mock_inspect_image_writer_factory.go
  internal/inspectimage/bom_display.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/bom_json.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml.go
  internal/inspectimage/writer/bom_yaml_test.go
  internal/inspectimage/writer/factory.go
  internal/inspectimage/writer/factory_test.go
  internal/inspectimage/writer/human_readable.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/structured_bom_format.go
  internal/inspectimage/writer/structured_bom_format_test.go
  internal/inspectimage/writer/structured_format.go
  internal/inspectimage/writer/structured_format_test.go
  internal/inspectimage/writer/toml.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml.go
  internal/inspectimage/writer/yaml_test.go
  testhelpers/assertions.go
Labels: type/enhancement

#972 Add multi-tag functionality
  acceptance/acceptance_test.go
  build.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/commands/build.go
  internal/commands/build_test.go
  testhelpers/arg_patterns.go
Labels: type/enhancement

#984 Add pack config experimental subcommand
  acceptance/invoke/pack.go
  internal/commands/config.go
  internal/commands/config_experimental.go
  internal/commands/config_experimental_test.go
  internal/commands/config_test.go
Labels: type/enhancement

#985 update go-gitignore's usage to remove impossible error
  go.mod
  go.sum
  internal/commands/build.go
Labels: type/chore

#996 Add type/chore label to dependabot
  .github/dependabot.yml
Labels: type/chore
