Repository buildpacks/pack, pull requests merged in 2020-09, with the labels that each got.

#828 Add link to pack cli documentation in README
  README.md
Labels: type/chore

#807 Add .sha256 files to releases
  .github/workflows/build.yml
Labels: type/chore

#838 polish: 822
  common_test.go
  internal/build/fakes/fake_phase_factory.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/phase_factory.go
  internal/build/phase_test.go
  testhelpers/assertions.go
Labels: type/chore

#831 Print only image name (and digest) when running `pack build` in quiet mode
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  acceptance/invoke/pack.go
  build.go
  build_test.go
  internal/image/fetcher.go
  internal/image/fetcher_test.go
  logging/logging.go
  logging/logging_test.go
Labels: type/enhancement

#841 fix nil pointer dereference
  cmd/cmd.go
Labels: type/bug

#825 BuildpackManager prepares all types of buildpacks for use in tests
  acceptance/acceptance_test.go
  acceptance/buildpacks/archive_buildpack.go
  acceptance/buildpacks/folder_buildpack.go
  acceptance/buildpacks/manager.go
  acceptance/buildpacks/package_file_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  testhelpers/testhelpers.go
Labels: type/chore

#839 List buildpack registries
  cmd/cmd.go
  internal/commands/list_buildpack_registries.go
  internal/commands/list_buildpack_registries_test.go
Labels: type/enhancement

#846 Replace docker with pack when building pack image
  .github/workflows/delivery-docker.yml
  .github/workflows/delivery/docker/Dockerfile
  .github/workflows/delivery/docker/buildpack.yml
Labels: type/chore

#847 feat: add buildpack registry
  cmd/cmd.go
  internal/blob/downloader.go
  internal/commands/add_buildpack_registry.go
  internal/commands/add_buildpack_registry_test.go
  internal/commands/build.go
  internal/commands/create_builder.go
  internal/commands/inspect_buildpack.go
  internal/config/config.go
  internal/slices/slices.go
  internal/slices/slices_test.go
  internal/style/style.go
  registry/type.go
  testhelpers/assertions.go
Labels: experimental, type/enhancement

#855 Add option to install pack CLI using scoop on Windows
  .github/workflows/build.yml
Labels: type/chore

#857 Ensure there is always an official default registry
  internal/commands/add_buildpack_registry.go
  internal/commands/add_buildpack_registry_test.go
  internal/commands/list_buildpack_registries.go
  internal/commands/list_buildpack_registries_test.go
  internal/config/config.go
Labels: experimental, type/enhancement

#832 Fix registry selector flag in build command and validation for the input
  build.go
  build_test.go
  common.go
  create_builder.go
  create_builder_test.go
  inspect_buildpack_test.go
  internal/commands/build.go
  internal/commands/register_buildpack.go
  internal/commands/register_buildpack_test.go
  internal/registry/registry_cache.go
  register_buildpack.go
  register_buildpack_test.go
Labels: experimental, type/enhancement
