Repository buildpacks/pack, pull requests merged in 2020-10, with the labels that each got.

#864 Ensure every line from phase output has prefix
  logging/logging.go
  logging/logging_test.go
  logging/prefix_writer.go
  logging/prefix_writer_test.go
Labels: type/bug

#862 Fix: use proper file for homebrew tap
  .github/workflows/delivery-homebrew.yml
  .github/workflows/scripts/generate-release-event.sh
  .github/workflows/scripts/test-job.sh
  .github/workflows/testdata/event-release.json
Labels: type/chore

#867 Fix lifecycle phase output
  internal/container/run.go
  logging/prefix_writer.go
  logging/prefix_writer_test.go
Labels: type/bug

#872 Fix: add busybox to pack action image
  .github/workflows/actions/pack/.gitignore
  .github/workflows/actions/pack/Dockerfile
  .github/workflows/actions/pack/LICENSE
  .github/workflows/actions/pack/README.md
  .github/workflows/actions/pack/action.yml
  .github/workflows/actions/pack/entrypoint.sh
  .github/workflows/delivery-docker.yml
  .github/workflows/scripts/generate-workflow_dispatch-event.sh
Labels: type/chore

#873 Fix: CI - run action as root (to access daemon)
  .github/workflows/actions/pack/Dockerfile
Labels: type/chore

#874 FIX: CI - Arch Linux pack-cli-bin
  .github/workflows/delivery-archlinux.yml
Labels: type/chore

#871 chore: rename registry commands without "buildpack"
  internal/commands/add_registry.go
  internal/commands/add_registry_test.go
  internal/commands/list_registries.go
  internal/commands/list_registries_test.go
Labels: type/chore

#854 Add dependabot integration
  .github/dependabot.yml
Labels: type/chore

#878 CI: Clean up release-notes action
  .github/release-notes.yml
  .github/workflows/actions/release-notes/README.md
  .github/workflows/actions/release-notes/action.js
  .github/workflows/actions/release-notes/dist/index.js
  .github/workflows/actions/release-notes/package.json
  .github/workflows/actions/release-notes/release-notes.js
Labels: type/chore

#891 Fix: Index out-of-bounds, CR processing
  logging/prefix_writer.go
  logging/prefix_writer_test.go
Labels: type/bug

#896 Add support for docker:// URIs
  build.go
  create_builder.go
  internal/buildpack/locator_type.go
  internal/buildpack/locator_type_test.go
  internal/buildpack/parse_name.go
  package_buildpack.go
Labels: type/enhancement

#877 Add `pack remove-registry` command
  cmd/cmd.go
  internal/commands/remove_registry.go
  internal/commands/remove_registry_test.go
Labels: experimental, type/enhancement

#876 Add `pack set-default-registry` command
  cmd/cmd.go
  internal/commands/set_default_registry.go
  internal/commands/set_default_registry_test.go
Labels: experimental, type/enhancement

#892 Remove support for `--no-pull` flag
  acceptance/acceptance_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  package_buildpack_test.go
Labels: breaking-change, type/enhancement

#900 Polish #840
  acceptance/acceptance_test.go
  acceptance/buildpacks/manager.go
  acceptance/buildpacks/package_file_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  acceptance/testdata/pack_fixtures/builder-windows.toml
  acceptance/testdata/pack_fixtures/report_output.txt
  build.go
  build_test.go
  cmd/cmd.go
  create_builder.go
  create_builder_test.go
  go.mod
  go.sum
  internal/build/phase_config_provider_test.go
  internal/builder/builder.go
  internal/buildpackage/builder.go
  internal/buildpackage/builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/layer/writer_factory.go
  internal/layer/writer_factory_test.go
  package_buildpack.go
  package_buildpack_test.go
Labels: type/chore

#840 Enable package-buildpack for windows
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  acceptance/acceptance_test.go
  build.go
  cmd/cmd.go
  create_builder.go
  internal/buildpack/locator_type.go
  internal/buildpack/locator_type_test.go
  internal/buildpack/parse_name.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  internal/commands/remove_registry.go
  internal/commands/remove_registry_test.go
  internal/commands/set_default_registry.go
  internal/commands/set_default_registry_test.go
  package_buildpack.go
  package_buildpack_test.go
Labels: experimental, type/enhancement

#908 Update lifecycle and imgutil library versions
  go.mod
  go.sum
  rebase.go
Labels: lib, type/enhancement

#853 Add examples and long descriptions to commands
  internal/commands/build.go
  internal/commands/create_builder.go
  internal/commands/inspect_builder.go
  internal/commands/inspect_buildpack.go
  internal/commands/inspect_image.go
  internal/commands/list_registries.go
  internal/commands/list_trusted_builders.go
  internal/commands/package_buildpack.go
  internal/commands/rebase.go
  internal/commands/register_buildpack.go
  internal/commands/report.go
  internal/commands/set_default_builder.go
  internal/commands/set_run_image_mirrors.go
  internal/commands/suggest_builders.go
  internal/commands/suggest_stacks.go
  internal/commands/trust_builder.go
  internal/commands/untrust_builder.go
  internal/commands/version.go
  internal/commands/yank_buildpack.go
Labels: type/enhancement

#926 Move package `os` to be configured via `package.toml`
  acceptance/acceptance_test.go
  acceptance/buildpacks/manager.go
  acceptance/buildpacks/package_file_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  acceptance/testdata/pack_fixtures/package.toml
  acceptance/testdata/pack_fixtures/package_aggregate.toml
  acceptance/testdata/pack_fixtures/package_for_build_cmd.toml
  buildpackage/config_reader.go
  buildpackage/config_reader_test.go
  create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/dist/dist.go
  package_buildpack.go
  package_buildpack_test.go
Labels: experimental, type/enhancement

#870 PPA publish
  .github/workflows/deliver-ubuntu.yml
  .github/workflows/delivery/ubuntu/debian/README
  .github/workflows/delivery/ubuntu/debian/changelog
  .github/workflows/delivery/ubuntu/debian/compat
  .github/workflows/delivery/ubuntu/debian/control
  .github/workflows/delivery/ubuntu/debian/copyright
  .github/workflows/delivery/ubuntu/debian/rules
  .github/workflows/delivery/ubuntu/test-install-package.sh
  .github/workflows/scripts/create_ppa.sh
  Makefile
Labels: type/chore
