Repository buildpacks/pack, pull requests merged in 2020-02, with the labels that each got.

#421 Add support for project.toml
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/testdata/project.toml
  internal/project/project.go
  internal/project/project_test.go
Labels: roadmap/project-descriptor, status/in-review

#501 Validate package toml during package-buildpack
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/invalid_package.toml
  buildpackage/config_reader.go
  buildpackage/config_reader_test.go
  cmd/pack/main.go
  create_builder_test.go
  internal/buildpackage/buildpackage.go
  internal/buildpackage/testdata/package.toml
  internal/commands/fakes/fake_buildpack_packager.go
  internal/commands/fakes/fake_package_config_reader.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  package_buildpack.go
  package_buildpack_test.go
Labels: status/accepted

#505 Preserve mod times when copying app directory
  acceptance/acceptance_test.go
  internal/archive/archive.go
  internal/archive/archive_test.go
  internal/blob/blob.go
  internal/build/phase.go
  internal/build/phase_test.go
  internal/build/testdata/fake-app.zip
  internal/build/testdata/fake-lifecycle/phase.go
  internal/builder/builder_test.go
  internal/dist/buildpack.go
  testhelpers/tar_assertions.go
  testhelpers/testhelpers.go
Labels: status/accepted

#508 Allow builder.toml to specify packages under [[buildpacks]]
  acceptance/testdata/pack_fixtures/builder.toml
  builder/config.go
  create_builder.go
  create_builder_test.go
Labels: status/code-approved

#509 Add support for platform API 0.3, drop support for platform API 0.1
  build_test.go
  internal/build/build.go
  internal/build/phases.go
  internal/builder/builder_test.go
  internal/builder/lifecycle_test.go
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/analyzer
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/builder
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/cacher
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/detector
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/exporter
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/launcher
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle-v1.2.3-arch/restorer
  internal/builder/testdata/lifecycle-platform-0.1/lifecycle.toml
Labels: status/accepted
