Repository buildpacks/pack, pull requests merged in 2020-06, with the labels that each got.

#679 GHA: Fetch all git history to properly describe
  .github/workflows/delivery-archlinux-git.yml
Labels: type/chore

#677 Move stack validation from data object
  builder/config_reader.go
  builder/config_reader_test.go
  create_builder.go
Labels: lib, type/enhancement

#697 Add Trusted (Yes/No) output to inspect-builder
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/inspect_builder_output.txt
  internal/commands/inspect_builder.go
  internal/commands/inspect_builder_test.go
Labels: type/enhancement

#663 Make command creation accessible by other tools
  Makefile
  build.go
  cmd/cmd.go
  cmd/pack/main.go
  create_builder.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/report.go
  internal/commands/report_test.go
  pack.go
Labels: type/chore

#689 GHA: Use buildpack-bot for delivery interactions
  .github/workflows/delivery-homebrew.yml
  .github/workflows/delivery-release-dispatch.yml
  .github/workflows/testdata/event-release.json
Labels: type/chore

#709 Release Docker Image
  .github/workflows/delivery-docker.yml
  .github/workflows/delivery/docker/Dockerfile
Labels: roadmap/user-onboarding, type/chore
