Repository buildpacks/pack, pull requests merged in 2021-11, with the labels that each got.

#1317 Fix: ignore ipv6 test on Docker Desktop
  internal/sshdialer/ssh_dialer_test.go
Labels: type/chore

#1318 Fix: wrong implementation of ssh dialer timeout in tests
  internal/sshdialer/ssh_dialer_test.go
Labels: type/chore

#1316 Upgrade to go 1.17
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  acceptance/acceptance_test.go
  acceptance/assertions/image.go
  acceptance/assertions/lifecycle_output.go
  acceptance/assertions/output.go
  acceptance/assertions/test_buildpack_output.go
  acceptance/buildpacks/archive_buildpack.go
  acceptance/buildpacks/folder_buildpack.go
  acceptance/buildpacks/manager.go
  acceptance/buildpacks/package_file_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  acceptance/config/asset_manager.go
  acceptance/config/github_asset_fetcher.go
  acceptance/config/input_configuration_manager.go
  acceptance/config/lifecycle_asset.go
  acceptance/config/pack_assets.go
  acceptance/config/run_combination.go
  acceptance/invoke/pack.go
  acceptance/invoke/pack_fixtures.go
  acceptance/managers/image_manager.go
  acceptance/os/variables.go
  acceptance/os/variables_darwin.go
  acceptance/os/variables_darwin_arm64.go
  acceptance/os/variables_linux.go
  acceptance/os/variables_windows.go
  acceptance/suite_manager.go
  acceptance/testdata/mock_stack/windows/run/Dockerfile
  benchmarks/build_test.go
  go.mod
  go.sum
  internal/build/testdata/fake-lifecycle/go.mod
  internal/sshdialer/posix_test.go
  internal/sshdialer/ssh_dialer_test.go
  internal/sshdialer/testdata/go.mod
  internal/sshdialer/windows_test.go
  pkg/client/example_build_test.go
  pkg/client/example_buildpack_downloader_test.go
  pkg/client/example_fetcher_test.go
  pkg/client/inspect_builder_test.go
  testhelpers/testhelpers.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: type/chore, lib

#1278 Complete pack-interact workflow
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/termui/dashboard.go
  internal/termui/detect.go
  internal/termui/fakes/app.go
  internal/termui/fakes/builder.go
  internal/termui/termui.go
  internal/termui/termui_test.go
  pkg/client/build.go
Labels: type/enhancement

#1329 Fix default buildpack API version.
  internal/commands/buildpack_new.go
  internal/commands/buildpack_new_test.go
Labels: type/bug

#1334 Add support for platform api 0.7 and 0.8
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/builder/lifecycle.go
  pkg/client/build_test.go
Labels: type/enhancement, type/chore

#1327 SSH test improvement: use Go SSH server not containerized OpenSSH
  internal/sshdialer/server_test.go
  internal/sshdialer/ssh_dialer_test.go
  internal/sshdialer/testdata/Dockerfile
  internal/sshdialer/testdata/entrypoint.sh
  internal/sshdialer/testdata/etc/ssh/ssh_host_dsa_key
  internal/sshdialer/testdata/etc/ssh/ssh_host_dsa_key.pub
  internal/sshdialer/testdata/etc/ssh/sshd_config
  internal/sshdialer/testdata/go.mod
  internal/sshdialer/testdata/main.go
Labels: type/enhancement

#1323 Fix help text for StringArrayVar flags
  internal/commands/build.go
  internal/commands/buildpack_new.go
  internal/commands/commands.go
  internal/commands/config_run_image_mirrors.go
  internal/commands/set_run_image_mirrors.go
Labels: type/enhancement
