Repository buildpacks/pack, pull requests merged in 2021-02, with the labels that each got.

#1044 Make project.toml buildpack paths relative to project root
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  build.go
Labels: type/chore, type/enhancement

#1030 Build and Release for Mac Arm64 architecture
  .github/workflows/build.yml
  .github/workflows/delivery-homebrew.yml
  .github/workflows/delivery/homebrew/pack.rb
Labels: type/chore

#1046 Use exact version for setup-go action (0.16.0beta1)
  .github/workflows/build.yml
Labels: type/chore

#1047 Use 0.16.0-rc1 for build, instead of -beta1
  .github/workflows/build.yml
Labels: type/chore

#1043 Update project.toml includes and excludes to respect repository root
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Labels: type/chore, type/enhancement

#1052 Add heroku/buildpacks:20 to suggested builders list
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  doc_test.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/inspect_builder_test.go
  internal/commands/list_trusted_builders_test.go
  internal/commands/suggest_builders.go
Labels: type/chore, type/enhancement

#1058 Download pack-x86 release in acceptance tests
  acceptance/os/variables_darwin.go
Labels: type/chore

#1056 Correct homebrew formula
  .github/workflows/delivery/homebrew/pack.rb
Labels: type/chore

#1050 Use user-provided LIFECYCLE_PATH in acceptance_tests
  acceptance/acceptance_test.go
  acceptance/config/input_configuration_manager.go
  build.go
  build_test.go
  testhelpers/registry.go
Labels: type/chore, type/enhancement

#1054 Document options for extending acceptance suite
  DEVELOPMENT.md
Labels: type/chore

#1061 Update buildpack register example
  internal/commands/buildpack_register.go
Labels: type/enhancement

#1063 Set correct sha256 value for Mac M1 homebrew formula
  .github/workflows/delivery-homebrew.yml
Labels: type/chore

#1067 Remove default lifecycle values
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/mount_paths.go
Labels: type/enhancement

#1066 Use dependency injection for config in commands
  cmd/cmd.go
  internal/commands/set_default_builder.go
  internal/commands/set_default_builder_test.go
  internal/commands/set_run_image_mirrors.go
  internal/commands/set_run_image_mirrors_test.go
  internal/commands/trust_builder.go
  internal/commands/trust_builder_test.go
  internal/commands/untrust_builder.go
  internal/commands/untrust_builder_test.go
  internal/config/config_test.go
  testhelpers/testhelpers.go
Labels: type/chore

#1062 Download correct acceptance files for developers on mac arm64
  acceptance/os/variables_darwin.go
  acceptance/os/variables_darwin_arm64.go
Labels: type/chore

#1065 Disable color when not in terminal
  cmd/cmd.go
  internal/image/fetcher.go
  internal/logging/log_writer.go
  internal/logging/log_writer_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Labels: type/enhancement

#1068 Clean acceptance tests of old exclusions
  acceptance/acceptance_test.go
  acceptance/buildpacks/package_file_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  acceptance/config/lifecycle_asset.go
  acceptance/invoke/pack.go
Labels: type/chore, type/enhancement

#1074 Reorder acceptance tests to reflect current command structure
  acceptance/acceptance_test.go
Labels: type/chore, type/enhancement

#1075 Remove explicitly tested strings from acceptance tests
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
Labels: type/chore, type/enhancement

#1080 Dont calculate buildpack layer diffIDs twice when creating a builder
  internal/builder/builder.go
Labels: type/enhancement

#988 Implement new build flag --docker-host
  build.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_test.go
  internal/commands/build.go
Labels: type/enhancement

#1084 Redact all user provided strings from pack report
  internal/commands/report.go
  internal/commands/report_test.go
Labels: type/enhancement

#1086 Fix typo
  logging/default_logger_test.go
Labels: type/enhancement

#1073 Fixed Code Quality Issues
  build.go
  internal/build/phase_config_provider.go
Labels: type/chore
