Repository buildpacks/pack, pull requests merged in 2021-06, with the labels that each got.

#1051 Support Platform APIs 0.5, 0.6
  acceptance/testdata/pack_fixtures/report_output.txt
  doc_test.go
  go.sum
  internal/build/container_ops.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/commands/buildpack_new_test.go
  internal/commands/config_experimental_test.go
  internal/commands/config_registries_default.go
  internal/commands/config_run_image_mirrors_test.go
  internal/dist/buildpack_descriptor.go
  internal/image/fetcher.go
  internal/paths/paths.go
  testhelpers/tar_assertions.go
Labels: type/chore, type/enhancement

#1215 Polish #1211 - Add Concurrency support
  internal/registry/registry_cache.go
Labels: type/enhancement

#1211 Concurrency Support for Registry Caching
  internal/registry/registry_cache.go
Labels: type/bug, type/enhancement

#1216 Use lifecycle image that matches builder platform
  build.go
  build_test.go
  client.go
  create_builder.go
  create_builder_test.go
  inspect_builder_test.go
  inspect_buildpack.go
  inspect_buildpack_test.go
  inspect_image.go
  inspect_image_test.go
  internal/builder/fakes/fake_inspectable_fetcher.go
  internal/builder/image_fetcher_wrapper.go
  internal/builder/inspect.go
  internal/commands/build_test.go
  internal/fakes/fake_image_fetcher.go
  internal/image/fetcher.go
  internal/image/fetcher_test.go
  pack.go
  package_buildpack_test.go
  pull_buildpack.go
  pull_buildpack_test.go
  rebase.go
  register_buildpack.go
  testmocks/mock_image_fetcher.go
Labels: type/bug
