Repository buildpacks/pack, pull requests merged in 2021-04, with the labels that each got.

#1122 Add Heroku-20 to suggested stacks list
  internal/commands/stack_suggest.go
  internal/commands/stack_suggest_test.go
  internal/commands/suggest_stacks_test.go
Labels: type/enhancement

#1116 Add builder to project descriptor
  internal/commands/build.go
  internal/commands/build_test.go
  project/project.go
Labels: type/enhancement

#1111 Fix duplicate detection and content collision
  acceptance/acceptance_test.go
  acceptance/assertions/image.go
  acceptance/buildpacks/archive_buildpack.go
  acceptance/buildpacks/package_image_buildpack.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/bin/build
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/bin/detect
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/bin/extra_file.txt
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-buildpack-different-sha/buildpack.toml
  acceptance/testdata/pack_fixtures/nested_builder.toml
  acceptance/testdata/pack_fixtures/simple-layers-buildpack-different-sha_package.toml
  acceptance/testdata/pack_previous_fixtures_overrides/simple-layers-buildpack-different-sha_package.toml
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/fakes/fake_buildpack.go
Labels: type/chore, type/enhancement

#1133 update ppa release by pinning go version to enable building for i386 arch
  .github/workflows/deliver-ubuntu.yml
  .github/workflows/delivery/ubuntu/debian/control
  .github/workflows/delivery/ubuntu/debian/rules
Labels: type/chore

#1135 Update BOT_TOKEN to use PLATFORM_GITHUB_TOKEN
  .github/workflows/delivery-homebrew.yml
  .github/workflows/delivery-release-dispatch.yml
Labels: type/chore

#1140 Add CII best practices badge
  README.md
Labels: type/chore

#1141 Added workspace mount point as option to build
  build.go
  build_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/commands/build.go
Labels: type/enhancement

#1150 Update Milestone action to use latest API
  .github/workflows/privileged-pr-process.yml
Labels: type/chore

#1147 Fixing Gosec HIGH warnings
  build.go
  new_buildpack.go
Labels: type/chore
