Repository buildpacks/pack, pull requests merged in 2021-03, with the labels that each got.

#1088 Add a custom lifecycle image flag
  acceptance/acceptance_test.go
  build.go
  build_test.go
  go.mod
  go.sum
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/config.go
  internal/commands/config_lifecycle_image.go
  internal/commands/config_lifecycle_image_test.go
  internal/config/config.go
  tools/go.sum
Labels: type/enhancement

#1025 Add buildpack create command to generate new buildpack scaffolding
  internal/buildpackage/builder_test.go
  internal/commands/buildpack.go
  internal/commands/buildpack_new.go
  internal/commands/buildpack_new_test.go
  internal/commands/commands.go
  internal/commands/testmocks/mock_inspect_image_writer_factory.go
  internal/commands/testmocks/mock_pack_client.go
  internal/dist/buildpack.go
  new_buildpack.go
  new_buildpack_test.go
Labels: type/enhancement

#1097 Bump golang/mock to 1.5.0
  go.mod
  go.sum
  internal/commands/build_test.go
  internal/commands/suggest_builders.go
Labels: type/chore, type/enhancement

#1057 Inspect remote images built with Platform API 0.5
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  acceptance/testdata/pack_fixtures/inspect_image_published_output.json
  acceptance/testdata/pack_fixtures/inspect_image_published_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_published_output.yaml
  go.mod
  go.sum
  inspect_image.go
  inspect_image_test.go
  internal/inspectimage/bom_display.go
  internal/inspectimage/writer/structured_bom_format.go
  internal/inspectimage/writer/structured_bom_format_test.go
  testmocks/mock_image.go
Labels: type/chore, type/enhancement

#1094 Add support for powershell completions
  internal/commands/completion.go
  internal/commands/completion_test.go
Labels: type/enhancement

#1076 Move image assertions to new ImageAssertionManager
  acceptance/acceptance_test.go
  acceptance/assertions/image.go
  acceptance/managers/image_manager.go
  acceptance/suite_manager.go
  go.mod
  go.sum
Labels: type/chore, type/enhancement

#1106 Wait for test registry port binding
  testhelpers/registry.go
Labels: type/chore

#1092 Add buildpack homepages to inspect-image output
  acceptance/testdata/pack_fixtures/inspect_builder_nested_depth_2_output.txt
  acceptance/testdata/pack_fixtures/inspect_builder_nested_output.txt
  acceptance/testdata/pack_fixtures/inspect_builder_output.txt
  acceptance/testdata/pack_fixtures/inspect_buildpack_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_local_output.txt
  acceptance/testdata/pack_fixtures/inspect_image_published_output.txt
  internal/builder/writer/human_readable.go
  internal/builder/writer/human_readable_test.go
  internal/commands/buildpack_inspect_test.go
  internal/commands/inspect_buildpack.go
  internal/commands/inspect_buildpack_test.go
  internal/inspectimage/bom_display.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml_test.go
  internal/inspectimage/writer/human_readable.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  internal/strings/strings.go
  internal/strings/strings_test.go
Labels: type/enhancement

#1104 `pack buildpack inspect` now works when no docker daemon is available
  internal/commands/buildpack_inspect_test.go
  internal/commands/inspect_buildpack.go
  internal/commands/inspect_buildpack_test.go
  internal/inspectimage/bom_display.go
Labels: type/bug

#1103 Allow pack buildpack package to create buildpackages without package.…
  go.sum
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
Labels: type/chore, type/enhancement

#1112 Build & release pipeline fixes
  .github/workflows/build.yml
Labels: type/chore

#1109 Add a .cnb extension by default on buildpackage creation
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
  package_buildpack.go
Labels: type/chore, type/enhancement

#1123 Remove leading whitespace in scripts generated by 'buildpack new'
  new_buildpack.go
Labels: type/bug
