Repository buildpacks/pack, pull requests merged in 2021-01, with the labels that each got.

#998 Add config registries subcommand
  cmd/cmd.go
  internal/commands/add_registry.go
  internal/commands/add_registry_test.go
  internal/commands/config.go
  internal/commands/config_registries.go
  internal/commands/config_registries_default.go
  internal/commands/config_registries_default_test.go
  internal/commands/config_registries_test.go
  internal/commands/config_test.go
  internal/commands/list_registries.go
  internal/commands/list_registries_test.go
  internal/commands/remove_registry.go
  internal/commands/remove_registry_test.go
  internal/commands/set_default_registry.go
  internal/commands/set_default_registry_test.go
Labels: type/enhancement

#982 Add pack config default-builder subcommand
  acceptance/acceptance_test.go
  cmd/cmd.go
  internal/commands/config.go
  internal/commands/config_default_builder.go
  internal/commands/config_default_builder_test.go
  internal/commands/config_test.go
  internal/commands/config_trusted_builder.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/report.go
  internal/commands/report_test.go
  internal/commands/set_default_builder.go
Labels: type/enhancement

#1001 Acceptance: use --publish with untrusted builder
  acceptance/acceptance_test.go
Labels: type/chore

#979 Further improvement of buildpack URIs support
  DEVELOPMENT.md
  build.go
  build_test.go
  builder/config_reader.go
  buildpackage/config_reader.go
  buildpackage/config_reader_test.go
  create_builder.go
  create_builder_test.go
  inspect_buildpack.go
  internal/blob/downloader_test.go
  internal/buildpack/locator_type.go
  internal/buildpack/locator_type_test.go
  internal/buildpack/parse_name.go
  internal/buildpack/parse_name_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/builder_create.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_pull.go
  internal/commands/buildpack_pull_test.go
  internal/commands/create_builder.go
  internal/commands/package_buildpack.go
  internal/dist/dist.go
  internal/paths/paths.go
  internal/paths/paths_test.go
  package_buildpack.go
  package_buildpack_test.go
  project/project.go
  project/project_test.go
  pull_buildpack.go
  pull_buildpack_test.go
Labels: type/bug

#970 Enable caching layers in image registry via `cache-image` flag
  acceptance/acceptance_test.go
  build.go
  build_test.go
  internal/build/fakes/cache.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/phase_config_provider.go
  internal/cache/consts.go
  internal/cache/image_cache.go
  internal/cache/image_cache_test.go
  internal/cache/volume_cache.go
  internal/cache/volume_cache_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  testhelpers/testhelpers.go
Labels: type/enhancement

#1010 Standardize command short descriptions
  cmd/cmd.go
  internal/commands/builder_suggest.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_pull.go
  internal/commands/buildpack_register.go
  internal/commands/buildpack_yank.go
  internal/commands/config.go
  internal/commands/config_experimental.go
  internal/commands/config_registries.go
  internal/commands/config_registries_test.go
  internal/commands/config_run_image_mirrors.go
  internal/commands/config_test.go
  internal/commands/config_trusted_builder.go
  internal/commands/stack.go
  internal/commands/stack_suggest.go
Labels: type/enhancement

#1008 Add global pull policy configuration command
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/builder_create.go
  internal/commands/builder_create_test.go
  internal/commands/buildpack.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
  internal/commands/config.go
  internal/commands/config_pull_policy.go
  internal/commands/config_pull_policy_test.go
  internal/commands/config_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  internal/config/config.go
Labels: type/enhancement

#1016 Disables acceptance --network tests for WCOW
  acceptance/acceptance_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/builder_create.go
  internal/commands/builder_create_test.go
  internal/commands/buildpack.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
  internal/commands/config.go
  internal/commands/config_pull_policy.go
  internal/commands/config_pull_policy_test.go
  internal/commands/config_test.go
  internal/commands/create_builder.go
  internal/commands/create_builder_test.go
  internal/commands/package_buildpack.go
  internal/commands/package_buildpack_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  internal/config/config.go
Labels: type/support

#1013 Update Default Lifecycle Version to 0.10.1
  .github/release-notes.yml
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/report_output.txt
  build_test.go
  internal/builder/lifecycle.go
  internal/commands/commands.go
  internal/commands/config_trusted_builder.go
  internal/commands/create_builder.go
  internal/commands/inspect_builder_test.go
  internal/commands/list_trusted_builders.go
  internal/commands/package_buildpack.go
  internal/commands/set_run_image_mirrors.go
  internal/commands/suggest_builders.go
Labels: type/enhancement

#1017 Fix inspect-buildpack command when docker URLs are passed to it
  inspect_buildpack.go
  inspect_buildpack_test.go
Labels: type/bug

#1020 Delete inspect-image acceptance test override
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_image_local_output.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_image_published_output.txt
Labels: type/chore

#1028 CI: Add `lcow` label to build config
  .github/workflows/build.yml
  internal/build/container_ops_test.go
Labels: type/chore

#1029 Auto add labels/milestones to new PRs
  .github/labeler.yml
  .github/workflows/privileged-pr-process.yml
Labels: type/chore

#1035 Output entire sha in quiet mode
  acceptance/assertions/output.go
  build.go
  build_test.go
Labels: type/chore, type/enhancement

#1037 Move archive package into public pkg/ directory
  acceptance/acceptance_test.go
  acceptance/buildpacks/archive_buildpack.go
  build.go
  inspect_buildpack_test.go
  internal/blob/blob.go
  internal/blob/downloader_test.go
  internal/build/container_ops.go
  internal/build/phase_test.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/builder/lifecycle.go
  internal/buildpackage/builder.go
  internal/buildpackage/oci_layout_package.go
  internal/buildpackage/oci_layout_package_test.go
  internal/dist/buildpack.go
  internal/dist/buildpack_test.go
  internal/fakes/fake_buildpack.go
  internal/fakes/fake_buildpack_blob.go
  internal/fakes/fake_images.go
  internal/layer/layer.go
  internal/layer/writer_factory.go
  pkg/README.md
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/tar_builder.go
  pkg/archive/tar_builder_test.go
  pkg/archive/testdata/dir-to-tar/some-file.txt
  pkg/archive/testdata/dir-to-tar/sub-dir/link-file
  pkg/archive/testdata/fat-zip-to-tar.zip
  pkg/archive/testdata/jar-file.jar
  pkg/archive/testdata/zip-to-tar.zip
  testhelpers/registry.go
  testhelpers/tar_assertions.go
  testhelpers/testhelpers.go
Labels: type/enhancement

#1038 Log lifecycle arguments
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
Labels: type/enhancement

#1040 Promote the registry commands out of experimental state
  internal/commands/add_registry.go
  internal/commands/buildpack.go
  internal/commands/buildpack_pull.go
  internal/commands/buildpack_register.go
  internal/commands/buildpack_test.go
  internal/commands/buildpack_yank.go
  internal/commands/commands.go
  internal/commands/config.go
  internal/commands/config_registries.go
  internal/commands/config_registries_default.go
  internal/commands/config_test.go
  internal/commands/list_registries.go
  internal/commands/register_buildpack.go
  internal/commands/remove_registry.go
  internal/commands/set_default_registry.go
  internal/commands/yank_buildpack.go
Labels: type/enhancement

#1026 Add Benchmark tests for Build
  .gitignore
  Makefile
  benchmarks/build_test.go
Labels: type/enhancement

#1039 Add labels to cache volumes
  internal/cache/volume_cache.go
  internal/cache/volume_cache_test.go
Labels: type/enhancement

#1042 Update pack build flags
  internal/commands/build.go
  internal/commands/commands.go
Labels: type/enhancement
