Repository buildpacks/pack, pull requests merged in 2021-08, with the labels that each got.

#1249 Polish/1231
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_app/project.toml
  build.go
  buildpack.yml
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/builder/metadata.go
  internal/commands/testdata/project.toml
  project.toml
  project/project.go
  project/project_test.go
Labels: type/chore

#1198 Add previous-image flag
  build.go
  build_test.go
  create_builder.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/commands/build.go
  internal/commands/build_test.go
Labels: type/enhancement

#1212 Allow build --env option to be comma separated list.
  internal/commands/build.go
  internal/commands/build_test.go
Labels: type/enhancement

#1238 Default to standard library when validating zip file
  build.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Labels: type/enhancement

#1252 Fix tests for wcow regarding project-metadata.toml
  internal/build/container_ops_test.go
Labels: type/chore

#1237 Refactor processBuildpacks to use BuildpackDownloader
  build.go
  build_test.go
Labels: type/chore

#1229 Generate cyclonedx bom on release
  .github/workflows/build.yml
Labels: type/chore

#1255 Fix pack builder suggest panic
  internal/commands/suggest_builders.go
Labels: type/chore

#1257 Fix using variable reference when running multiple combo tests
  acceptance/acceptance_test.go
Labels: type/enhancement, type/chore

#1261 Polish #1241
  build.go
  build_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/project/types/types.go
  pkg/project/v01/project.go
  pkg/project/v02/project.go
  project/project.go
Labels: type/enhancement

#1263 Update dispatch workflow
  .github/workflows/delivery-release-dispatch.yml
Labels: type/chore

#1266 Improve CLI documentation for pack build --tag
  internal/commands/build.go
Labels: type/enhancement
