Repository buildpacks/pack, pull requests merged in 2021-12, with the labels that each got.

#1339 Bump lifecycle to 0.13.1 to include sbom patches
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/builder/lifecycle.go
  pkg/client/build_test.go
Labels: type/enhancement, type/chore

#1337 Configure gitpod test execution to work out-of-the-box
  .gitpod.yml
  internal/build/phase_test.go
Labels: type/enhancement

#1326 Add file explorer to pack-interact workflow
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/fakes/fake_termui.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/phase.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_factory.go
  internal/build/phase_test.go
  internal/commands/commands.go
  internal/registry/git_test.go
  internal/term/term_test.go
  internal/termui/branch.go
  internal/termui/dashboard.go
  internal/termui/detect.go
  internal/termui/dive.go
  internal/termui/dive_test.go
  internal/termui/termui.go
  internal/termui/termui_test.go
  internal/termui/testdata/fake-layers.tar
  internal/termui/testdata/generate.sh
  pkg/buildpack/downloader.go
  pkg/client/build.go
  pkg/client/common.go
  tools/go.mod
  tools/go.sum
Labels: type/enhancement, type/chore

#1340 Remove outdated acceptance tests constraints
  RELEASE.md
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
Labels: type/enhancement, type/chore

#1341 Check out master for pack-git, and force push
  .github/workflows/delivery/archlinux/publish-package.sh
Labels: type/chore
