Repository buildpacks/pack, pull requests merged in 2021-05, with the labels that each got.

#1152 Removing redundant error checks before return
  testhelpers/testhelpers.go
Labels: type/chore

#1153 Change directory permissions to 0750.
  internal/blob/downloader.go
  internal/config/config.go
  internal/registry/registry_cache.go
  testhelpers/testhelpers.go
Labels: type/chore

#1157 Enables directory-buildpack support for WCOW/LCOW
  build.go
  build_test.go
  create_builder.go
  create_builder_test.go
Labels: type/enhancement

#1160 new errcheck fixes
  internal/build/phase_test.go
  package_buildpack_test.go
  pull_buildpack_test.go
  rebase_test.go
Labels: type/chore

#1173 Provide host port when starting the test registry
  testhelpers/registry.go
Labels: type/chore

#1158 Gitpodified the repository
  .gitpod.yml
  DEVELOPMENT.md
  README.md
Labels: type/chore

#1183 Create temporary registry cache alongside intended destination
  internal/registry/registry_cache.go
Labels: type/bug

#1188 Clean Filepaths to ensure no XSS (Polish PR for 1164 and 1155)
  acceptance/testdata/mock_stack/windows/run/server.go
  build.go
  builder/config_reader.go
  internal/blob/downloader.go
  internal/build/testdata/fake-lifecycle/phase.go
  internal/commands/build.go
  internal/commands/report.go
  internal/dist/layers.go
  internal/fakes/fake_package.go
  internal/registry/registry_cache.go
  pkg/archive/archive.go
  project/project.go
  testhelpers/registry.go
  testhelpers/tar_assertions.go
  testhelpers/testhelpers.go
  tools/pedantic_imports/main.go
Labels: type/enhancement

#1154 Change file permissions to 0600.
  internal/registry/registry_cache.go
  testhelpers/testhelpers.go
Labels: status/incomplete, type/chore

#1149 Make workspace configurable
  acceptance/acceptance_test.go
  acceptance/buildpacks/archive_buildpack.go
  inspect_buildpack_test.go
  internal/blob/blob.go
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/phase_test.go
  internal/builder/builder_test.go
  internal/buildpackage/builder.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  testhelpers/testhelpers.go
Labels: type/enhancement

#1145 Delegate checking of remote image existence to the daemon
  internal/image/fetcher.go
Labels: type/enhancement

#1187 Bump to lifecycle v0.11.3
  acceptance/testdata/pack_fixtures/report_output.txt
  build_test.go
  client.go
  create_builder_test.go
  go.mod
  go.sum
  inspect_image.go
  inspect_image_test.go
  internal/builder/lifecycle.go
  internal/builder/testmocks/mock_lifecycle.go
  internal/buildpackage/builder.go
  internal/buildpackage/builder_test.go
  internal/commands/inspect_image_test.go
  internal/commands/testmocks/mock_inspect_image_writer_factory.go
  internal/commands/testmocks/mock_pack_client.go
  internal/dist/testmocks/mock_buildpack.go
  internal/image/factory.go
  internal/image/fetcher.go
  internal/inspectimage/bom_display.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml_test.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/structured_bom_format_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  package_buildpack_test.go
  rebase.go
  testmocks/mock_docker_client.go
  testmocks/mock_downloader.go
  testmocks/mock_image_factory.go
  testmocks/mock_image_fetcher.go
Labels: type/chore, type/enhancement

#1190 Adding --gid flag to override the user's group id
  build.go
  build_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/commands/build.go
  internal/commands/build_test.go
Labels: type/enhancement
