Repository buildpacks/pack, pull requests merged in 2021-07, with the labels that each got.

#1210 Add registry mirror support for pack build
  build.go
  build_test.go
  client.go
  client_test.go
  cmd/cmd.go
  internal/commands/config.go
  internal/commands/config_registry_mirrors.go
  internal/commands/config_registry_mirrors_test.go
  internal/commands/config_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/image/fetcher.go
  internal/name/name.go
  internal/name/name_test.go
Labels: type/enhancement

#1226 Make lifecycle image expectation configurable
  acceptance/acceptance_test.go
  acceptance/assertions/lifecycle_output.go
Labels: type/chore, type/enhancement

#1166 Added support for inline buildpacks
  build.go
  build_test.go
  new_buildpack.go
  project/project.go
Labels: type/enhancement

#1235 Cleanup registry cache in tests
  internal/registry/registry_cache.go
  internal/registry/registry_cache_test.go
Labels: type/bug, type/enhancement

#1234 Allow wildcard "any" stack
  internal/dist/buildpack_descriptor.go
  internal/dist/buildpack_descriptor_test.go
Labels: type/bug

#1225 Expose functionality to download buildpacks
  build.go
  buildpack_downloader.go
  buildpack_downloader_test.go
  client.go
  common.go
  create_builder.go
  create_builder_test.go
  inspect_buildpack.go
  mock_buildpack_downloader.go
  pack.go
  package_buildpack.go
  pull_buildpack.go
  register_buildpack.go
Labels: lib, type/enhancement
