Repository buildpacks/pack, pull requests merged in 2022-08, with the labels that each got.

#1495 Change Slack link in README to CNCF slack
  README.md
Labels: type/chore

#1494 Use Windows artifact from WCOW worker
  .github/workflows/build.yml
Labels: type/chore

#1444 Add support to embed source metadata from git
  go.mod
  go.sum
  internal/registry/git_test.go
  internal/registry/registry_cache.go
  internal/registry/registry_cache_test.go
  pkg/client/build.go
  pkg/project/v02/metadata.go
  pkg/project/v02/metadata_test.go
  testhelpers/registry.go
  testhelpers/testhelpers.go
Labels: type/enhancement

#1479 Fix project.toml build env to match spec
  pkg/project/project_test.go
  pkg/project/v02/project.go
Labels: type/enhancement, breaking-change

#1499 Add heroku/builder:22 as a suggested and trusted builder
  acceptance/assertions/output.go
  internal/builder/suggested_builder.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/list_trusted_builders_test.go
Labels: type/enhancement, type/chore
