Repository buildpacks/pack, pull requests merged in 2022-03, with the labels that each got.

#1378 Fix Typos
  .github/workflows/actions/release-notes/dist/index.js
  .github/workflows/delivery/archlinux/publish-package.sh
  DEVELOPMENT.md
  Makefile
Labels: type/chore

#1375 Add milestone requirement to release process
  RELEASE.md
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
Labels: type/enhancement, type/chore

#1402 Add support for using authn keychain in image fetcher
  pkg/client/client.go
  pkg/image/fetcher.go
Labels: type/enhancement
