Repository buildpacks/pack, pull requests merged in 2022-11, with the labels that each got.

#1539 Refactor lifecycle execution and tests
  .github/workflows/build.yml
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement, type/chore

#1542 Fix a few bugs
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement

#1553 Added warning and test for lifecycle under which the builder is trusted
  internal/commands/build.go
  internal/commands/build_test.go
Labels: type/enhancement

#1547 Add support for Platform 0.10
  Makefile
  acceptance/acceptance_test.go
  acceptance/assertions/lifecycle_output.go
  acceptance/config/lifecycle_asset.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/bin/generate.bat
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/extension.toml
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-extension/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/simple-layers-extension/bin/generate.bat
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/fakes/fake_builder.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/builder/builder.go
  internal/builder/lifecycle.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml_test.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/structured_bom_format_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/client.go
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
  testhelpers/testhelpers.go
  tools/go.sum
Labels: type/enhancement, type/chore

#1564 Update our Actions to avoid set-output command
  .github/workflows/build.yml
  .github/workflows/delivery-archlinux-git.yml
  .github/workflows/delivery-archlinux.yml
  .github/workflows/delivery-homebrew.yml
  .github/workflows/delivery-ubuntu.yml
Labels: type/chore
