Repository buildpacks/pack, pull requests merged in 2023-11, with the labels that each got.

#1957 Imgutil default platform change
  go.mod
  go.sum
  pkg/client/docker.go
Labels: type/bug, type/enhancement, type/chore

#1969 Retrying logic when pulling an image and platform doesn't match
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  pkg/image/fetcher.go
  pkg/image/fetcher_test.go
Labels: type/bug

#1966 Add pack cli support for IBM s390x
  .github/workflows/build.yml
  .github/workflows/delivery-docker.yml
Labels: type/chore

#1984 Replace `github.com/ghodss/yaml` with `gopkg.in/yaml.v3`
  acceptance/acceptance_test.go
  go.mod
  go.sum
  internal/builder/writer/yaml_test.go
Labels: type/chore, dependencies

#1982 When running `choco install pack --source <package>` we need to point to a folder instead of a nupkg package
  .github/workflows/delivery-chocolatey.yml
Labels: type/chore

#1946 Add --force-color flag
  cmd/cmd.go
Labels: type/enhancement
