Repository buildpacks/pack, pull requests merged in 2023-06, with the labels that each got.

#1795 only add the stack arg to lifecycle for older platform APIs
  internal/build/lifecycle_execution.go
Labels: type/enhancement, stack removal

#1788 Fix: deriving stack.toml from the new run image information
  internal/builder/builder.go
  internal/builder/builder_test.go
Labels: type/bug, type/enhancement, stack removal

#1803 Fix small issue with deprecated BOM display
  internal/inspectimage/bom_display.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml_test.go
Labels: type/enhancement

#1789 Stack fix & create new volume cache for kaniko instead of re-using build cache
  acceptance/acceptance_test.go
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/bin/generate
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/builder/lifecycle.go
  pkg/cache/cache_opts.go
Labels: type/bug, type/enhancement, type/chore

#1810 If includeRoot by default the permission value is always set to 0777
  internal/build/container_ops_test.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Labels: type/enhancement

#1809 Disable CI failure if codecov fails due of the flakiness of the upload step
  .github/workflows/build.yml
Labels: type/chore

#1814 Dependency updates
  .github/workflows/actions/release-notes/package-lock.json
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  go.mod
  go.sum
Labels: type/chore
