Repository buildpacks/pack, pull requests merged in 2023-08, with the labels that each got.

#1856 Update docker-delivery workflow to create multi-arch images
  .github/workflows/delivery-docker.yml
  Dockerfile
Labels: type/chore

#1841 Apply package config from meta-buildpack folder in pack build
  acceptance/acceptance_test.go
  acceptance/buildpacks/folder_buildpack.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack-dependency/bin/build
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack-dependency/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack-dependency/bin/detect
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack-dependency/bin/detect.bat
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack-dependency/buildpack.toml
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/0.2/meta-buildpack/package.toml
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement, type/chore

#1806 pack inspect <app-image> shows if the image is rebasable or not
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/inspect_image_local_output.json
  acceptance/testdata/pack_fixtures/inspect_image_local_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_local_output.yaml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.json
  acceptance/testdata/pack_fixtures/inspect_image_published_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.yaml
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/human_readable.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
Labels: type/enhancement, type/chore

#1852 Add -daemon to restorer for newer platform
  acceptance/acceptance_test.go
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/bin/generate
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/builder/builder.go
  internal/builder/lifecycle.go
  pkg/client/build.go
Labels: type/enhancement, type/chore

#1861 Dependency updates
  .github/workflows/delivery-docker.yml
  go.mod
  go.sum
Labels: type/chore

#1868 Bump lifecycle
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore

#1866 Fix the rebasable flag logic in case of missing label
  acceptance/testdata/pack_fixtures/inspect_image_local_output.json
  acceptance/testdata/pack_fixtures/inspect_image_local_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_local_output.yaml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.json
  acceptance/testdata/pack_fixtures/inspect_image_published_output.toml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.yaml
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
  pkg/dist/image_test.go
Labels: type/enhancement, type/chore

#1876 Fixing error connecting to a remote daemon over ssh
  cmd/docker_init.go
Labels: type/enhancement

#1873 When additional buildpack is missing version, try to use the latest one
  internal/commands/build_test.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement

#1874 Remove legacy beta release message
  .github/workflows/build.yml
Labels: type/chore, documentation, github_actions

#1872 Provides client keychain to lifecycle instead of the default keychain
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  pkg/client/build.go
Labels: type/enhancement

#1871 Improvements to --cache help
  internal/commands/build.go
Labels: type/enhancement
