Repository buildpacks/pack, pull requests merged in 2023-05, with the labels that each got.

#1745 Update Paketo stack & builder references to Jammy
  .github/workflows/delivery-docker.yml
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  benchmarks/build_test.go
  internal/builder/suggested_builder.go
  internal/commands/builder_inspect_test.go
  internal/commands/buildpack_new.go
  internal/commands/buildpack_new_test.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/inspect_builder_test.go
  internal/commands/list_trusted_builders_test.go
  internal/commands/stack_suggest.go
  internal/commands/stack_suggest_test.go
  internal/commands/trust_builder_test.go
  internal/commands/untrust_builder_test.go
  pkg/client/rebase_test.go
  pkg/client/register_buildpack_test.go
  pkg/client/yank_buildpack_test.go
Labels: type/enhancement, type/chore

#1749 Various dependency updates
  go.mod
  go.sum
Labels: type/chore

#1737 updating deps after running go work sync so lifecycle and pack match
  go.mod
  go.sum
Labels: type/chore

#1735 Wait for non-running state to prevent concurrency
  internal/container/run.go
  testhelpers/testhelpers.go
Labels: type/enhancement, type/chore

#1758 dependency updates
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  Makefile
  acceptance/acceptance_test.go
  go.mod
  go.sum
  internal/build/container_ops_test.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_test.go
  pkg/archive/archive_test.go
  pkg/archive/tar_builder_test.go
  pkg/cache/image_cache_test.go
  pkg/cache/volume_cache_test.go
  pkg/client/build_test.go
  pkg/image/fetcher_test.go
  pkg/project/project_test.go
  tools/go.mod
Labels: type/enhancement, type/chore

#1691 Add ` --flatten`, `--depth` and `flatten-exclude` flags to `pack builder create` and `pack buildpack package` command
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/builder_create.go
  internal/commands/builder_create_test.go
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
  pkg/buildpack/builder.go
  pkg/buildpack/builder_test.go
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_tar_writer.go
  pkg/buildpack/buildpack_tar_writer_test.go
  pkg/buildpack/buildpack_test.go
  pkg/buildpack/managed_collection.go
  pkg/buildpack/managed_collection_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
  pkg/client/inspect_builder_test.go
  pkg/client/inspect_buildpack_test.go
  pkg/client/package_buildpack.go
  pkg/client/package_buildpack_test.go
  pkg/client/testdata/buildpack-flatten/buildpack-1/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-2/bin/build
  pkg/client/testdata/buildpack-flatten/buildpack-2/bin/detect
  pkg/client/testdata/buildpack-flatten/buildpack-2/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-3/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-4/bin/build
  pkg/client/testdata/buildpack-flatten/buildpack-4/bin/detect
  pkg/client/testdata/buildpack-flatten/buildpack-4/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-5/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-6/bin/build
  pkg/client/testdata/buildpack-flatten/buildpack-6/bin/detect
  pkg/client/testdata/buildpack-flatten/buildpack-6/buildpack.toml
  pkg/client/testdata/buildpack-flatten/buildpack-7/bin/build
  pkg/client/testdata/buildpack-flatten/buildpack-7/bin/detect
  pkg/client/testdata/buildpack-flatten/buildpack-7/buildpack.toml
Labels: type/enhancement

#1767 upgrades to the latest lifecycle pre-release
  go.mod
  go.sum
Labels: type/chore

#1730 Upgrade default lifecycle to 0.17.0-pre.2
  acceptance/acceptance_test.go
  acceptance/config/asset_manager.go
  acceptance/config/lifecycle_asset.go
  acceptance/invoke/pack.go
  acceptance/testdata/mock_buildpacks/0.2/other-stack-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/0.2/other-stack-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/0.2/other-stack-buildpack/bin/detect
  acceptance/testdata/mock_buildpacks/0.2/other-stack-buildpack/bin/detect.bat
  acceptance/testdata/pack_fixtures/report_output.txt
  builder/config_reader.go
  go.mod
  go.sum
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/builder/builder.go
  internal/builder/lifecycle.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
Labels: type/enhancement, type/chore

#1757 Add support for extensions in pack Buildpack downloader
  pkg/blob/blob.go
  pkg/buildpack/downloader.go
  pkg/buildpack/downloader_test.go
  pkg/buildpack/locator_type.go
  pkg/buildpack/oci_layout_package.go
  pkg/buildpack/oci_layout_package_test.go
  pkg/buildpack/package.go
  pkg/buildpack/testdata/tree-extension.cnb
  pkg/client/create_builder.go
Labels: type/enhancement

#1562 updated node version for github actions
  .github/workflows/actions/release-notes/action.yml
Labels: type/chore

#1771 Update deps
  go.mod
  go.sum
  internal/build/phase_test.go
  pkg/cache/volume_cache_test.go
  testhelpers/registry.go
Labels: type/enhancement, type/chore

#1773 change additional buildpack to java
  .github/workflows/benchmark.yml
  benchmarks/build_test.go
Labels: type/enhancement, type/chore
