Repository buildpacks/pack, pull requests merged in 2023-09, with the labels that each got.

#1882 Adding configuration to OCI Layout format when executing phases 1 by 1
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement

#1878 Adding support for reading docker context
  cmd/cmd.go
  go.mod
  go.sum
  internal/docker/context.go
  internal/docker/context_test.go
  internal/docker/testdata/error-cases/current-context-does-not-match/config.json
  internal/docker/testdata/error-cases/current-context-does-not-match/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  internal/docker/testdata/error-cases/docker-endpoint-does-not-exist/config.json
  internal/docker/testdata/error-cases/docker-endpoint-does-not-exist/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  internal/docker/testdata/error-cases/empty-context/config.json
  internal/docker/testdata/error-cases/invalid-config/config.json
  internal/docker/testdata/error-cases/invalid-metadata/config.json
  internal/docker/testdata/error-cases/invalid-metadata/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  internal/docker/testdata/happy-cases/current-context-not-defined/config.json
  internal/docker/testdata/happy-cases/custom-context/config.json
  internal/docker/testdata/happy-cases/custom-context/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  internal/docker/testdata/happy-cases/default-context/config.json
  internal/docker/testdata/happy-cases/two-endpoints-context/config.json
  internal/docker/testdata/happy-cases/two-endpoints-context/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
Labels: type/bug, type/enhancement, type/chore

#1877 Add custom label metadata to packaged buildpacks
  internal/commands/buildpack_package.go
  internal/commands/buildpack_package_test.go
  pkg/buildpack/builder.go
  pkg/buildpack/builder_test.go
  pkg/client/package_buildpack.go
  pkg/client/package_extension.go
Labels: type/enhancement

#1891 Dependency updates
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/check-latest-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compatibility.yml
  .github/workflows/delivery-archlinux-git.yml
  .github/workflows/delivery-archlinux.yml
  .github/workflows/delivery-chocolatey.yml
  .github/workflows/delivery-docker.yml
  .github/workflows/delivery-homebrew.yml
  .github/workflows/delivery-ubuntu.yml
  go.mod
  go.sum
Labels: type/chore

#1887 Fixing out of memory using `pack builder create` on pack 0.30.0
  pkg/buildpack/buildpack.go
Labels: type/enhancement

#1897 Fix target validation when buildpack fails to declare field
  pkg/dist/buildpack_descriptor.go
  pkg/dist/buildpack_descriptor_test.go
Labels: type/enhancement

#1894 Missing test case when handling docker context - continuation of the solution to fix 1759
  internal/docker/context.go
  internal/docker/context_test.go
  internal/docker/testdata/error-cases/config-does-not-exist/README
Labels: type/bug, type/enhancement

#1904 Dependency updates for GHA
  .github/workflows/delivery-docker.yml
Labels: type/chore

#1908 Bump default lifecycle version & lifecycle library version
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore

#1913 Update acceptance fixtures to use newer Buildpack API versions
  acceptance/acceptance_test.go
  acceptance/testdata/mock_buildpacks/descriptor-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/internet-capable-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/meta-buildpack-dependency/buildpack.toml
  acceptance/testdata/mock_buildpacks/meta-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/nested-level-1-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/nested-level-2-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/noop-buildpack-2/buildpack.toml
  acceptance/testdata/mock_buildpacks/noop-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/not-in-builder-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/other-stack-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/read-env-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/read-env-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/read-env-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/read-volume-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/read-write-volume-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack-different-sha/bin/build
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack-different-sha/bin/build.bat
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack-different-sha/buildpack.toml
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack/bin/build
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack/bin/build.bat
  acceptance/testdata/mock_buildpacks/simple-layers-buildpack/buildpack.toml
  acceptance/testdata/mock_buildpacks/simple-layers-extension/extension.toml
  acceptance/testdata/mock_buildpacks/simple-layers-parent-buildpack/buildpack.toml
Labels: type/enhancement, type/chore
