Repository buildpacks/pack, pull requests merged in 2023-10, with the labels that each got.

#1924 Suggest/trust `heroku/builder:20` instead of `heroku/buildpacks:20`
  acceptance/assertions/output.go
  internal/builder/suggested_builder.go
  internal/commands/build_test.go
  internal/commands/builder_inspect_test.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/inspect_builder_test.go
  internal/commands/list_trusted_builders_test.go
Labels: type/enhancement, type/chore

#1935 Dependency Updates
  go.mod
  go.sum
Labels: type/chore

#1921 added targets flag for buildpack new cli
  internal/commands/buildpack_new.go
  internal/commands/buildpack_new_test.go
  internal/target/parse.go
  internal/target/parse_test.go
  internal/target/platform.go
  internal/target/platform_test.go
  pkg/client/build.go
  pkg/client/new_buildpack.go
  pkg/dist/buildmodule.go
  pkg/dist/buildpack_descriptor.go
Labels: type/enhancement

#1933 Ensure the downloaded os/arch always matches the expected os/arch
  pkg/buildpack/downloader.go
  pkg/buildpack/downloader_test.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
Labels: type/enhancement

#1951 Add buildpacksio/pack:<version>-base images to delivery
  .github/workflows/delivery-docker.yml
  .github/workflows/delivery/docker/project.toml
  Dockerfile
Labels: type/chore

#1950 Group minor/patch version Go Dependabot updates into one PR
  .github/dependabot.yml
Labels: type/chore

#1949 Bump default lifecycle version & lifecycle library version 0.17.2
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore, dependencies

#1919 Fix misleading log message when publishing a buildpack package
  internal/commands/buildpack_package.go
  internal/commands/extension_package.go
Labels: type/enhancement
