Repository buildpacks/pack, pull requests merged in 2023-07, with the labels that each got.

#1787 Explode flattened buildpacks when `pack build`
  acceptance/acceptance_test.go
  acceptance/assertions/image.go
  acceptance/invoke/pack.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  pkg/buildpack/builder_test.go
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_tar_writer.go
  pkg/buildpack/buildpack_tar_writer_test.go
  pkg/buildpack/buildpack_test.go
  pkg/buildpack/managed_collection.go
  pkg/buildpack/managed_collection_test.go
  pkg/buildpack/package.go
Labels: type/bug, type/enhancement, type/chore, flatten feature

#1801 Fix log message when buildpack doesn't satisfy target constraints for builder
  pkg/dist/buildmodule.go
  pkg/dist/buildpack_descriptor.go
  pkg/dist/buildpack_descriptor_test.go
Labels: type/enhancement

#1833 Dependency updates
  go.mod
  go.sum
Labels: type/chore

#1815 Fix: when running restore, provide creds for run image if there are r…
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement

#1823 Update suggested builder descriptions for the Heroku builder images
  internal/builder/suggested_builder.go
Labels: type/enhancement

#1822 Merge the same TOML file writing logic
  internal/build/container_ops.go
  internal/build/container_ops_test.go
Labels: type/enhancement

#1826 Bump lifecycle library version
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/builder/lifecycle.go
  internal/commands/inspect_image_test.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/docker.go
  pkg/client/download_sbom.go
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
  pkg/project/v02/metadata.go
  pkg/project/v02/metadata_test.go
Labels: type/enhancement, type/chore

#1780 Change alert-comment-cc-users to maintainers
  .github/workflows/benchmark.yml
Labels: type/chore

#1838 Release to Ubuntu Lunar PPA
  .github/workflows/delivery-ubuntu.yml
Labels: type/chore

#1842 Dependency Updates
  go.mod
  go.sum
Labels: type/chore

#1840 Update the summary of `yank`
  internal/commands/buildpack_yank.go
Labels: type/enhancement
