Repository buildpacks/pack, pull requests merged in 2023-03, with the labels that each got.

#1657 Fix broken tests merged by mistake in main branch
  acceptance/testdata/pack_fixtures/inspect_image_local_output.json
  acceptance/testdata/pack_fixtures/inspect_image_local_output.yaml
  acceptance/testdata/pack_fixtures/inspect_image_published_output.json
  acceptance/testdata/pack_fixtures/inspect_image_published_output.yaml
  internal/build/testdata/fake-lifecycle/phase.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/bom_json_test.go
  internal/inspectimage/writer/bom_yaml_test.go
  internal/inspectimage/writer/human_readable.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/structured_format_test.go
  internal/inspectimage/writer/yaml_test.go
  internal/registry/registry_cache_test.go
  pkg/client/inspect_image_test.go
Labels: type/enhancement, type/chore

#1658 Fix help text for SBOM
  internal/commands/download_sbom.go
Labels: type/enhancement

#1659 Clarify trusted builder help text
  internal/commands/build.go
  internal/commands/config_trusted_builder.go
Labels: type/enhancement

#1667 Disable AUR git publishing because we got revoked
  .github/workflows/delivery-archlinux-git.yml
Labels: type/chore

#1596 `pack build` command to export to OCI layout format on disk
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/builder/lifecycle.go
  internal/commands/build.go
  internal/commands/build_test.go
  internal/commands/config_experimental.go
  internal/commands/config_experimental_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/fakes/fake_image_fetcher.go
  internal/paths/defaults_unix.go
  internal/paths/defaults_windows.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/input_image_reference.go
  pkg/client/input_image_reference_test.go
  pkg/image/fetcher.go
  pkg/image/fetcher_test.go
  testhelpers/testhelpers.go
Labels: type/enhancement, type/chore

#1666 Fix random error with codecov upload
  .github/workflows/build.yml
Labels: type/chore

#1672 Use OS-default permissions when creating archive root
  internal/build/container_ops_test.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/umask_unix.go
Labels: type/enhancement

#1687 Fix acceptance compatibility tests
  acceptance/testdata/pack_previous_fixtures_overrides/builder.toml
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_X.Y.Z_builder_output.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_nested_depth_2_output.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_nested_output.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_nested_output_json.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_nested_output_toml.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_nested_output_yaml.txt
  acceptance/testdata/pack_previous_fixtures_overrides/inspect_builder_output.txt
  acceptance/testdata/pack_previous_fixtures_overrides/nested-level-1-buildpack_package.toml
  acceptance/testdata/pack_previous_fixtures_overrides/nested-level-2-buildpack_package.toml
  acceptance/testdata/pack_previous_fixtures_overrides/nested_builder.toml
  acceptance/testdata/pack_previous_fixtures_overrides/simple-layers-buildpack-different-sha_package.toml
  acceptance/testdata/pack_previous_fixtures_overrides/simple-layers-buildpack_package.toml
Labels: type/chore

#1660 Implement RFC-0096 Remove Stacks & Mixins: phase 1
  builder/config_reader.go
  builder/config_reader_test.go
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/fakes/fake_builder.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/builder/metadata.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
Labels: type/enhancement

#1683 Upgrade deps all at once
  .github/workflows/build.yml
  .github/workflows/check-latest-release.yml
  .github/workflows/compatibility.yml
  go.mod
  go.sum
Labels: type/chore

#1679 feature(makefile): Add help and necessary comments to the makefile to…
  Makefile
  pkg/client/common.go
Labels: type/enhancement

#1677 Replace deprecated GHA ::set-output syntax
  .github/workflows/actions/release-notes/dist/index.js
  .github/workflows/actions/release-notes/package-lock.json
  .github/workflows/actions/release-notes/package.json
  .github/workflows/build.yml
  .github/workflows/check-latest-release.yml
Labels: type/chore

#1661 Extension package
  buildpackage/config_reader.go
  buildpackage/config_reader_test.go
  internal/commands/buildpack_package.go
  internal/commands/commands.go
  internal/commands/extension.go
  internal/commands/extension_package.go
  internal/commands/extension_package_test.go
  internal/commands/fakes/fake_extension_packager.go
  internal/commands/testmocks/mock_pack_client.go
  internal/fakes/fake_extension_blob.go
  pkg/buildpack/builder.go
  pkg/buildpack/builder_test.go
  pkg/client/package_extension.go
  pkg/client/package_extension_test.go
  pkg/client/pull_buildpack_test.go
Labels: type/enhancement

#1692 Some fixes
  internal/builder/builder.go
Labels: type/enhancement
