Repository buildpacks/pack, pull requests merged in 2023-01, with the labels that each got.

#1585 Preserves test output for easier grepping
  DEVELOPMENT.md
  Makefile
Labels: type/chore

#1589 Add Github token to tests
  .github/workflows/build.yml
Labels: type/chore

#1581 add Extensions and Detection Order (Extensions)
  acceptance/testdata/pack_fixtures/inspect_builder_nested_depth_2_output.txt
  acceptance/testdata/pack_fixtures/inspect_builder_nested_output.txt
  acceptance/testdata/pack_fixtures/inspect_builder_nested_output_json.txt
  acceptance/testdata/pack_fixtures/inspect_builder_nested_output_yaml.txt
  acceptance/testdata/pack_fixtures/inspect_builder_output.txt
  internal/builder/fakes/fake_label_manager.go
  internal/builder/inspect.go
  internal/builder/inspect_test.go
  internal/builder/label_manager.go
  internal/builder/label_manager_test.go
  internal/builder/writer/human_readable.go
  internal/builder/writer/human_readable_test.go
  internal/builder/writer/json_test.go
  internal/builder/writer/shared_builder_test.go
  internal/builder/writer/structured_format.go
  internal/builder/writer/yaml_test.go
  pkg/client/inspect_builder.go
Labels: type/enhancement, type/chore

#1598 adds flag for saving report toml to back build and rebase
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/commands/build.go
  internal/commands/rebase.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
Labels: type/enhancement

#1600 Fixing non-deterministic layer and metadata ordering during pack builder create
  internal/builder/builder.go
  internal/builder/builder_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-1/bin/build
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-1/bin/detect
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-1/buildpack.toml
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-2/bin/build
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-2/bin/detect
  pkg/client/testdata/buildpack-non-deterministic/buildpack-1-version-2/buildpack.toml
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-1/bin/build
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-1/bin/detect
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-1/buildpack.toml
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-2/bin/build
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-2/bin/detect
  pkg/client/testdata/buildpack-non-deterministic/buildpack-2-version-2/buildpack.toml
  testhelpers/testhelpers.go
Labels: type/enhancement

#1590 Fix check release workflow
  .github/workflows/check-latest-release.yml
Labels: type/chore

#1607 if lifecycle image is supplied, consider its apis
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement
