Repository buildpacks/pack, pull requests merged in 2023-04, with the labels that each got.

#1696 Remove replacments for docker and buildkit
  go.mod
  go.sum
  pkg/client/build.go
Labels: type/enhancement, type/chore

#1701 feat: add registry cache support for Azure DevOps
  internal/registry/registry_cache.go
  internal/registry/registry_cache_test.go
Labels: type/enhancement

#1700 adds rebase force override passthru flag
  go.mod
  go.sum
  internal/commands/inspect_image_test.go
  internal/commands/rebase.go
  internal/commands/rebase_test.go
  internal/inspectimage/info_display.go
  internal/inspectimage/writer/human_readable_test.go
  internal/inspectimage/writer/json_test.go
  internal/inspectimage/writer/toml_test.go
  internal/inspectimage/writer/yaml_test.go
  pkg/client/inspect_image.go
  pkg/client/inspect_image_test.go
  pkg/client/rebase.go
Labels: type/enhancement, type/chore

#1651 pack build support --extension
  internal/commands/build.go
  internal/fakes/fake_extension_blob.go
  internal/fakes/fake_extension_tar.go
  internal/fakes/fake_images.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement

#1714 remove deprecated suggest-stacks command
  cmd/cmd.go
  internal/commands/suggest_stacks.go
  internal/commands/suggest_stacks_test.go
Labels: type/enhancement

#1713 Add EnsureTargetSupport to BuildpackDescriptor
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/builder/inspect.go
  internal/builder/inspect_test.go
  internal/builder/writer/human_readable.go
  internal/builder/writer/human_readable_test.go
  internal/builder/writer/json_test.go
  internal/builder/writer/structured_format.go
  internal/builder/writer/toml_test.go
  internal/builder/writer/yaml_test.go
  internal/commands/builder_inspect_test.go
  pkg/buildpack/builder_test.go
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_test.go
  pkg/buildpack/package.go
  pkg/client/build.go
  pkg/client/common.go
  pkg/client/common_test.go
  pkg/client/inspect_builder.go
  pkg/client/inspect_builder_test.go
  pkg/client/new_buildpack_test.go
  pkg/client/rebase.go
  pkg/dist/buildmodule.go
  pkg/dist/buildpack_descriptor.go
  pkg/dist/buildpack_descriptor_test.go
  pkg/dist/dist.go
  pkg/dist/extension_descriptor.go
  pkg/dist/layers.go
Labels: type/enhancement

#1698 Pack should support run image extension on Platform API 0.12
  acceptance/acceptance_test.go
  acceptance/assertions/lifecycle_output.go
  acceptance/config/lifecycle_asset.go
  acceptance/testdata/mock_buildpacks/0.2/read-env-extension/bin/generate
  go.mod
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_test.go
Labels: type/enhancement, type/chore

#1723 Upgrade golang.org/x/text in tools
  golangci.yaml
  internal/build/container_ops_test.go
  internal/build/docker.go
  internal/build/phase.go
  internal/build/phase_config_provider_test.go
  internal/build/phase_test.go
  internal/builder/inspect.go
  internal/cache/volume_cache_test.go
  internal/container/run.go
  internal/termui/termui.go
  internal/termui/termui_test.go
  pkg/buildpack/buildpack_test.go
  pkg/client/build.go
  pkg/client/create_builder.go
  pkg/client/docker.go
  pkg/testmocks/mock_docker_client.go
  tools/go.mod
  tools/go.sum
Labels: type/enhancement

#1724 Enable experimental in exporter if we are using extensions
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement

#1729 Update deps: lifecycle v0.17.0-pre.1
  go.mod
  go.sum
Labels: type/chore

#1734 fix some comments
  .github/workflows/delivery-ubuntu.yml
  internal/commands/buildpack_inspect_test.go
  internal/commands/inspect_buildpack_test.go
  pkg/archive/archive.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement, type/chore

#1736 Create benchmark.yml and add end-to-end benchmark
  .github/workflows/benchmark.yml
  benchmarks/build_test.go
Labels: type/enhancement, type/chore

#1743 add one Rebase unit test and fix nil handling
  pkg/client/rebase.go
  pkg/client/rebase_test.go
Labels: type/enhancement
