Repository buildpacks/pack, pull requests merged in 2023-12, with the labels that each got.

#2006 Disabling the progress log when downloading files on windows
  pkg/blob/downloader.go
  pkg/blob/downloader_test.go
Labels: type/enhancement

#2007 Fetch lifecycle binaries from lifecycle image
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/build/mount_paths.go
  internal/build/phase_config_provider.go
  pkg/client/build.go
Labels: type/enhancement

#1896 Hardlinks are dereferenced in generated archives
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_windows.go
  pkg/archive/testdata/dir-to-tar-with-hardlink/original-file
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_tar_writer.go
  pkg/buildpack/buildpack_test.go
  pkg/buildpack/testdata/buildpack-with-hardlink/bin/build
  pkg/buildpack/testdata/buildpack-with-hardlink/bin/detect
  pkg/buildpack/testdata/buildpack-with-hardlink/buildpack.toml
  pkg/buildpack/testdata/buildpack-with-hardlink/original-file
  testhelpers/tar_assertions.go
Labels: type/bug, type/enhancement

#1925 New flatten buildpacks/builder implementation - Part 1 - removing depth
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/builder_create.go
  internal/commands/buildpack_package.go
  pkg/buildpack/builder.go
  pkg/buildpack/builder_test.go
  pkg/buildpack/managed_collection.go
  pkg/buildpack/managed_collection_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
  pkg/client/package_buildpack.go
  pkg/client/package_buildpack_test.go
Labels: type/enhancement, experimental, flatten feature

#1983 Allow the build to proceed with /cnb/lifecycle/creator when the order contains extensions
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement
