Repository buildpacks/pack, pull requests merged in 2024-07, with the labels that each got.

#2197 When parsing project.toml, don't warn about unexpected keys that are actually expected
  pkg/project/project_test.go
  pkg/project/types/types.go
  pkg/project/v02/project.go
Labels: type/enhancement

#2196 Don't create an ephemeral builder if it isn't truly needed
  internal/builder/builder.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement

#2205 Trusted builders fix
  internal/builder/known_builder.go
  internal/commands/build_test.go
  internal/commands/commands.go
  internal/commands/config_trusted_builder.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/suggest_builders.go
  internal/commands/untrust_builder_test.go
  pkg/client/build.go
Labels: type/enhancement

#2203 Update the Google builder in the list of known builders.
  acceptance/assertions/output.go
  internal/builder/known_builder.go
  internal/commands/config_trusted_builder_test.go
  internal/commands/list_trusted_builders_test.go
Labels: type/enhancement, type/chore

#2188 Remove github actions job for pack-cli arch package
  .github/workflows/delivery-archlinux.yml
  .github/workflows/delivery/archlinux/README.md
  .github/workflows/delivery/archlinux/pack-cli/PKGBUILD
Labels: type/chore

#2211 Bump deps
  go.mod
  go.sum
Labels: type/chore

#2230 Trust buildpacks in addition to those on the builder
  internal/commands/build.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement

#2235 Add a helper script for testing GitHub Actions on forked repositories
  .github/workflows/delivery-docker.yml
  DEVELOPMENT.md
  tools/test-fork.sh
Labels: type/chore

#2238 Fix #2237: consider /workspace as a sensitive dir
  pkg/client/build_test.go
  pkg/client/process_volumes.go
  pkg/client/process_volumes_darwin.go
Labels: type/enhancement

#2234 Support OCI layouts with `application/vnd.oci.image.manifest.v1+json` media type
  pkg/buildpack/oci_layout_package.go
  pkg/buildpack/oci_layout_package_test.go
  pkg/buildpack/testdata/hello-universe-oci.cnb
Labels: type/enhancement

#2240 Make the docker Image `pack:base` built on the same base image as `pack:x.x.x-base`
  .github/workflows/delivery-docker.yml
  tools/test-fork.sh
Labels: type/chore

#2236 Bump default lifecycle binary version from 0.19.6 to 0.20.0
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore
