Repository buildpacks/pack, pull requests merged in 2024-11, with the labels that each got.

#2266 Allow trusted builders by repo or tag
  internal/builder/trusted_builder.go
  internal/builder/trusted_builder_test.go
  internal/commands/build.go
  internal/commands/builder_inspect.go
  internal/commands/commands.go
  internal/commands/config_trusted_builder.go
Labels: type/enhancement

#2273 Bump deps
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/check-latest-release.yml
  .github/workflows/compatibility.yml
  Dockerfile
  Makefile
  acceptance/testdata/pack_fixtures/report_output.txt
  cmd/docker_init.go
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/docker.go
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/builder/lifecycle.go
  internal/sshdialer/server_test.go
  internal/sshdialer/ssh_dialer.go
  pkg/client/create_builder.go
  pkg/client/docker.go
  pkg/project/project.go
  pkg/project/project_test.go
  testhelpers/assertions.go
  testhelpers/registry.go
  tools/go.mod
Labels: type/enhancement, type/chore, dependencies

#2185 Update image references to use fully qualified names.
  .github/workflows/check-latest-release.yml
  .github/workflows/delivery-docker.yml
  DEVELOPMENT.md
  internal/commands/build.go
  internal/commands/build_test.go
  internal/config/config.go
Labels: type/enhancement, type/chore

#2284 Emit a performance warning if containerd is enabled and we're exporting to the daemon
  pkg/client/build.go
Labels: type/enhancement
