Repository buildpacks/pack, pull requests merged in 2024-02, with the labels that each got.

#2045 Excluding pre-release from `check latest pack release` workflow
  .github/workflows/check-latest-release.yml
Labels: type/chore

#2053 Fixing an parsing error with the buildpacks to be flattened
  acceptance/acceptance_test.go
  acceptance/invoke/pack.go
  internal/commands/builder_create.go
Labels: type/bug

#2043 Separate suggested builders from default trusted builders
  acceptance/assertions/output.go
  internal/builder/known_builder.go
  internal/commands/builder_inspect_test.go
  internal/commands/builder_suggest_test.go
  internal/commands/config_trusted_builder.go
  internal/commands/inspect_builder_test.go
  internal/commands/suggest_builders.go
  internal/commands/suggest_builders_test.go
  pkg/client/build.go
Labels: type/enhancement, type/chore

#2028 feat: added a mac-address flag to build option, so that user can manually set the MAC-address.
  internal/build/fakes/fake_builder.go
  internal/build/lifecycle_executor.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  pkg/client/build.go
Labels: type/enhancement

#2042 Warn if project.toml contains keys not supported by schema
  internal/commands/build.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/project/v01/project.go
  pkg/project/v02/project.go
Labels: type/enhancement

#2062 Update docker to v25
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/docker.go
  internal/build/phase.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/container/run.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/buildpack/downloader_test.go
  pkg/cache/image_cache.go
  pkg/client/create_builder_test.go
  pkg/client/docker.go
  pkg/client/package_buildpack_test.go
  pkg/client/package_extension_test.go
  pkg/testmocks/mock_docker_client.go
  testhelpers/registry.go
  testhelpers/testhelpers.go
Labels: type/enhancement, type/chore

#2067 Bump default lifecycle version & lifecycle library version 0.18.5
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore

#2069 Bump docker/docker v25 and lifecycle 0.18.5
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/build/container_ops.go
  internal/build/container_ops_test.go
  internal/build/docker.go
  internal/build/phase.go
  internal/builder/lifecycle.go
  internal/container/run.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/buildpack/downloader_test.go
  pkg/cache/image_cache.go
  pkg/client/create_builder_test.go
  pkg/client/docker.go
  pkg/client/package_buildpack_test.go
  pkg/client/package_extension_test.go
  pkg/testmocks/mock_docker_client.go
  testhelpers/registry.go
  testhelpers/testhelpers.go
Labels: type/chore, dependencies

#2081 Add validation support for empty/nil `[[stacks]]`
  pkg/buildpack/builder.go
  pkg/buildpack/builder_test.go
Labels: type/enhancement
