Repository buildpacks/pack, pull requests merged in 2024-05, with the labels that each got.

#2145 Platform 0.13: look for build Dockerfiles in <layers>/generated/<buildpack-id>/Dockerfile.build
  acceptance/acceptance_test.go
  acceptance/testdata/pack_fixtures/report_output.txt
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
Labels: type/enhancement, type/chore

#2125 Removing experimental configuration for extensions starting with API 0.13
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  pkg/client/build.go
  pkg/client/build_test.go
Labels: type/enhancement

#2136 Updating to Docker 26.x & lifecycle 0.19.4
  acceptance/managers/image_manager.go
  go.mod
  go.sum
  internal/build/docker.go
  pkg/cache/image_cache.go
  pkg/cache/image_cache_test.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/docker.go
  pkg/client/process_volumes.go
  pkg/client/process_volumes_darwin.go
  pkg/image/fetcher.go
  testhelpers/testhelpers.go
Labels: type/enhancement, type/chore

#1705 Add a new `manifest` command to support multi-architecture builds
  acceptance/acceptance_test.go
  acceptance/assertions/output.go
  acceptance/invoke/pack.go
  cmd/cmd.go
  go.mod
  go.sum
  internal/commands/buildpack_inspect.go
  internal/commands/commands.go
  internal/commands/extension_inspect.go
  internal/commands/manifest.go
  internal/commands/manifest_add.go
  internal/commands/manifest_add_test.go
  internal/commands/manifest_annotate.go
  internal/commands/manifest_annotate_test.go
  internal/commands/manifest_create.go
  internal/commands/manifest_create_test.go
  internal/commands/manifest_inspect.go
  internal/commands/manifest_inspect_test.go
  internal/commands/manifest_push.go
  internal/commands/manifest_push_test.go
  internal/commands/manifest_remove.go
  internal/commands/manifest_remove_test.go
  internal/commands/manifest_rm.go
  internal/commands/manifest_rm_test.go
  internal/commands/manifest_test.go
  internal/commands/testmocks/mock_pack_client.go
  pkg/client/build_test.go
  pkg/client/client.go
  pkg/client/common.go
  pkg/client/inspect_image.go
  pkg/client/manifest_add.go
  pkg/client/manifest_add_test.go
  pkg/client/manifest_annotate.go
  pkg/client/manifest_annotate_test.go
  pkg/client/manifest_create.go
  pkg/client/manifest_create_test.go
  pkg/client/manifest_inspect.go
  pkg/client/manifest_inspect_test.go
  pkg/client/manifest_push.go
  pkg/client/manifest_push_test.go
  pkg/client/manifest_remove.go
  pkg/client/manifest_remove_test.go
  pkg/client/manifest_rm.go
  pkg/client/manifest_rm_test.go
  pkg/index/index_factory.go
  pkg/index/index_factory_test.go
  pkg/testmocks/mock_docker_client.go
  pkg/testmocks/mock_index_factory.go
  testhelpers/image_index.go
Labels: type/enhancement, type/chore, experimental, epic/multi-arch

#2151 Do not initialize `http.Client` during each request to a remote location
  pkg/blob/downloader.go
Labels: type/enhancement

#2157 Updating default lifecycle version 0.19.6
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore

#2127 Pull run image using digest reference in analyzed.toml (not image name from extensions)
  acceptance/acceptance_test.go
  acceptance/testdata/mock_buildpacks/read-env-extension/bin/generate
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
Labels: type/enhancement, type/chore

#2155 Warn misconfiguration keys in project.toml only for tables we own
  pkg/project/project.go
  pkg/project/project_test.go
Labels: type/enhancement

#2161 When validating buildpack.toml, don't warn for keys that are actually defined
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_test.go
  pkg/client/example_fetcher_test.go
Labels: type/enhancement

#2165 Fix https://github.com/buildpacks/pack/issues/2164
  pkg/client/build.go
Labels: type/enhancement

#2166 Building darwin arm64 binaries by default on CI and amd64 during releases
  .github/workflows/build.yml
Labels: type/chore

#2171 chore: updating docker base image to use go 1.22
  .github/workflows/delivery-ubuntu.yml
  Dockerfile
Labels: type/chore
