Repository buildpacks/pack, pull requests merged in 2024-01, with the labels that each got.

#2020 Feature: Retrieve SBoM from Registry for Remote Images
  go.mod
  pkg/client/download_sbom.go
  pkg/client/download_sbom_test.go
Labels: type/enhancement, type/chore

#2010 Ensure read access when resolving run image location
  internal/fakes/fake_access_checker.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/common.go
  pkg/client/common_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
  pkg/image/access_checker.go
  pkg/image/access_checker_test.go
Labels: type/enhancement

#1977 fix: display `Command` remaining parts if `Args` is `nil`
  internal/inspectimage/info_display.go
Labels: type/enhancement

#2024 docs: Improve documentation for --publish flag
  internal/commands/build.go
  internal/commands/builder_create.go
  internal/commands/buildpack_package.go
  internal/commands/create_builder.go
  internal/commands/extension_package.go
  internal/commands/package_buildpack.go
  internal/commands/rebase.go
Labels: type/enhancement

#2017 add support to override UID for container
  internal/build/lifecycle_execution.go
  internal/build/lifecycle_execution_test.go
  internal/build/lifecycle_executor.go
  internal/commands/build.go
  pkg/client/build.go
Labels: type/enhancement

#1985 New flatten buildpacks/builder implementation - Part 2 - Implementing RFC-0123
  builder/buildpack_identifier.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/builder_create.go
  internal/commands/builder_create_test.go
  pkg/buildpack/build_module_info.go
  pkg/buildpack/build_module_info_test.go
  pkg/buildpack/builder.go
  pkg/buildpack/managed_collection.go
  pkg/buildpack/managed_collection_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
Labels: type/enhancement

#2027 Bumping imgutil version
  go.mod
  go.sum
Labels: type/chore

#2031 Updating to go 1.21
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  Makefile
  go.mod
  go.sum
  tools/go.mod
Labels: type/chore, go

#2034 Adding `--label` flag to `pack builder create` command
  internal/builder/builder.go
  internal/builder/builder_test.go
  internal/commands/builder_create.go
  internal/commands/builder_create_test.go
  pkg/client/create_builder.go
  pkg/client/create_builder_test.go
Labels: type/enhancement
