Repository buildpacks/pack, pull requests merged in 2024-04, with the labels that each got.

#2118 Reverting the MAC - Address flag code (for now)
  internal/build/fakes/fake_builder.go
  internal/build/lifecycle_executor.go
  internal/build/phase_config_provider.go
  internal/build/phase_config_provider_test.go
  internal/commands/build.go
  internal/commands/build_test.go
  pkg/client/build.go
Labels: type/enhancement

#2022 Update run image metadata when --run-image is provided
  acceptance/acceptance_test.go
  acceptance/assertions/image.go
  acceptance/invoke/pack.go
  internal/builder/builder.go
  internal/builder/builder_test.go
  pkg/client/build.go
Labels: type/enhancement, type/chore

#2117 Exposing the logic for processing the Docker Context to be public
  cmd/cmd.go
  pkg/client/docker_context.go
  pkg/client/docker_context_test.go
  pkg/client/testdata/docker-context/error-cases/config-does-not-exist/README
  pkg/client/testdata/docker-context/error-cases/current-context-does-not-match/config.json
  pkg/client/testdata/docker-context/error-cases/current-context-does-not-match/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  pkg/client/testdata/docker-context/error-cases/docker-endpoint-does-not-exist/config.json
  pkg/client/testdata/docker-context/error-cases/docker-endpoint-does-not-exist/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  pkg/client/testdata/docker-context/error-cases/empty-context/config.json
  pkg/client/testdata/docker-context/error-cases/invalid-config/config.json
  pkg/client/testdata/docker-context/error-cases/invalid-metadata/config.json
  pkg/client/testdata/docker-context/error-cases/invalid-metadata/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  pkg/client/testdata/docker-context/happy-cases/current-context-not-defined/config.json
  pkg/client/testdata/docker-context/happy-cases/custom-context/config.json
  pkg/client/testdata/docker-context/happy-cases/custom-context/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
  pkg/client/testdata/docker-context/happy-cases/default-context/config.json
  pkg/client/testdata/docker-context/happy-cases/two-endpoints-context/config.json
  pkg/client/testdata/docker-context/happy-cases/two-endpoints-context/contexts/meta/fe9c6bd7a66301f49ca9b6a70b217107cd1284598bfc254700c989b916da791e/meta.json
Labels: type/enhancement

#2133 Updating to go 1.22
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/compatibility.yml
  Makefile
  go.mod
  tools/go.mod
Labels: type/chore, go

#2134 Updating default lifecycle version to 0.19.3
  acceptance/testdata/pack_fixtures/report_output.txt
  go.mod
  go.sum
  internal/builder/lifecycle.go
Labels: type/enhancement, type/chore

#2123 Fix pack buildpack new --targets
  internal/commands/buildpack_new_test.go
  internal/layer/writer_factory_test.go
  internal/target/parse.go
  internal/target/parse_test.go
  pkg/buildpack/buildpack.go
  pkg/buildpack/buildpack_test.go
  pkg/buildpack/downloader.go
  pkg/client/create_builder_test.go
  pkg/client/package_buildpack.go
  pkg/client/package_buildpack_test.go
  pkg/client/package_extension.go
  pkg/dist/buildmodule.go
  pkg/dist/buildpack_descriptor.go
  pkg/dist/buildpack_descriptor_test.go
Labels: type/enhancement

#2092 Adding a nop-op when trying to check access for run-image against the daemon
  internal/builder/image_fetcher_wrapper.go
  internal/fakes/fake_access_checker.go
  internal/fakes/fake_image_fetcher.go
  pkg/buildpack/downloader.go
  pkg/client/build.go
  pkg/client/build_test.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/common.go
  pkg/client/common_test.go
  pkg/client/example_fetcher_test.go
  pkg/client/rebase.go
  pkg/client/rebase_test.go
  pkg/image/access_checker.go
  pkg/image/access_checker_test.go
  pkg/image/fetcher.go
  pkg/image/fetcher_test.go
  pkg/testmocks/mock_image_fetcher.go
Labels: type/enhancement
